force-app/main/default/flows/ActualizacionMetaIEQ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ActualizacionMetaIEQ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ActualizacionMetaIEQ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Condiciones_iniciales</name>
        <label>Condiciones iniciales</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizameta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Periodo_Inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Create_Date_time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Create_Date_time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ejecutivo_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountOwnerIEQ</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Servicio</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Metas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizameta</name>
        <label>actualizameta</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Meta_Comercial__c</field>
            <value>
                <elementReference>Condiciones_iniciales.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Condiciones_iniciales</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved as Succesful</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <object>Customer_Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountOwnerIEQ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id_Owner__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>ApprovedDateTime</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.DateApproved__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>EjecutivoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Account_Executive_User__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Metaact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Meta_Comercial__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Servicio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FolioResume__c</elementReference>
        </value>
    </variables>
</Flow>
