force-app/main/default/flows/Actualizacion_meta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Analiza si la invoice tiene el estatus de &apos;Facturado&apos; ó el de &apos;Cobrado&apos;.</description>
        <name>Facturado_o_Cobrado</name>
        <label>¿Facturado o Cobrado?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Condiciones_iniciales_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cobrado</defaultConnectorLabel>
        <rules>
            <name>Facturado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facturado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Condiciones_iniciales</targetReference>
            </connector>
            <label>Facturado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Servicetype</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.Import_Export_Quote_Order__r.Name}, 2)</expression>
    </formulas>
    <interviewLabel>Actualizacion meta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizacion meta CE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Condiciones_iniciales</name>
        <label>Condiciones iniciales</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizameta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Periodo_Inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Fechaavalidar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Fechaavalidar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ejecutivo_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ejecutivoinvoice</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Servicetype</elementReference>
            </value>
        </filters>
        <object>Metas__c</object>
        <outputReference>MetaComercial</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Condiciones_iniciales_2</name>
        <label>Condiciones iniciales</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizameta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Periodo_Inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Fechaavalidar2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Fechaavalidar2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ejecutivo_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ejecutivoinvoice</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Servicetype</elementReference>
            </value>
        </filters>
        <object>Metas__c</object>
        <outputReference>MetaComercial</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>actualizameta</name>
        <label>actualizameta</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Meta_Comercial_del__c</field>
            <value>
                <elementReference>MetaComercial.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Facturado_o_Cobrado</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Invoice_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facturado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cobrado</stringValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EjecutivoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Username</elementReference>
        </value>
    </variables>
    <variables>
        <name>Ejecutivoinvoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Ejecutivo_Comercial__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Ejecutivovalidacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Ejecutivo_Comercial__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Fechaavalidar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Date_Receive_from_SAP__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Este variable almacena la &apos;Fecha Pagado&apos; del Invoice que ejecuta este flujo.</description>
        <name>Fechaavalidar2</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Date_Receive_from_SAP__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Metaact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Meta_Comercial_del__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Variable que almacena el registro de Meta Comercial para después asignarselo a la invoice que ejecuta este flujo</description>
        <name>MetaComercial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Metas__c</objectType>
    </variables>
</Flow>
