force-app/main/default/flows/CAPEX_Funnel_Commercial_Opportunitties4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Asigna como falso la variable DocStatusLicitacion.</description>
        <name>DocStatusLicitacion_False</name>
        <label>DocStatusLicitacion - False</label>
        <locationX>644</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>DocStatusLicitacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asignar_campana</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna como verdadero la variable DocStatusLicitacion.</description>
        <name>DocStatusLicitacion_True</name>
        <label>DocStatusLicitacion - True</label>
        <locationX>380</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>DocStatusLicitacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asignar_campana</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lleno_ObservacionesComentarios</name>
        <label>lleno_ObservacionesComentarios</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_ObservacionesComentarios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObservacionesComentarios</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>crea_cuenta_prospecto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_mode_FI1</name>
        <label>Service mode FI</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VeriableSM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Servicio_ServiceType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Record_ID1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_mode_FN</name>
        <label>Service mode FN</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>VeriableSM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Servicio_ServiceType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Crear_Oportunidad_Nuevos_Negocios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vacio_ObservacionesComentarios</name>
        <label>vacio_ObservacionesComentarios</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_ObservacionesComentarios</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>crea_cuenta_prospecto</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClienteContactado</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Cliente Contactado&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente ContactadoX</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClientecontactadosinExito</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(227, 243, 255);&quot;&gt;Cliente contactado sin Éxito&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente contactado sin Éxito</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClienteVisitado</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(227, 243, 255);&quot;&gt;Cliente Visitado&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente Visitado</stringValue>
        </value>
    </choices>
    <choices>
        <name>False_option</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>False_option</elementReference>
        </value>
    </choices>
    <choices>
        <name>Noviable</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(227, 243, 255);&quot;&gt;No viable&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No viable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sicreado</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>True_option</elementReference>
        </value>
    </choices>
    <choices>
        <name>True_option</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>comentarios</name>
        <label>comentarios</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>vacio_ObservacionesComentarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lleno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObservacionesComentarios</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>lleno_ObservacionesComentarios</targetReference>
            </connector>
            <label>lleno</label>
        </rules>
    </decisions>
    <decisions>
        <description>Consulta si la oportunidad creada ya cuenta con el documento de licitación</description>
        <name>Cuenta_con_documento_de_Licitacion</name>
        <label>¿Cuenta con documento de Licitación?</label>
        <locationX>512</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>DocStatusLicitacion_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_Licitacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Documentos_Licitacion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocStatusLicitacion_True</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisi_n_cliente_existe</name>
        <label>Decisión cliente existe</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Service_mode_FI1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>respuestasi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClienteEstaRegistrado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>False_option</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>comentarios</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>se agregó flujo para asignar campaña</description>
    <dynamicChoiceSets>
        <name>colonia</name>
        <dataType>String</dataType>
        <displayField>Codigo_Postal__c</displayField>
        <object>Catalogo_SAT__c</object>
        <valueField>Codigo_Postal__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cp_lookup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Catalogo_SAT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cta_status_rec</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estatus_Recuperado__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ESTATUSDECONTACTO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estatus_Recuperado__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>group</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Group__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opcionesservicio</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grupo_SAP_PICK__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklistservice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PROJ_Service_Mode__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tipodeventa</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tippag_cta__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>variablePSMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PROJ_Service_Mode__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Este campo calculará la fecha de cierre que se le asignará a la oportunidad de proyectos.</description>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),1)</expression>
    </formulas>
    <formulas>
        <name>Servicio_ServiceType</name>
        <dataType>String</dataType>
        <expression>CASE( {!Tipo_de_servicio},
&quot;SP-FN-FLETE NACIONAL&quot;, &quot;FN&quot;,
&quot;SP-FI-FLETE INTER&quot;, &quot;FI&quot;,
&quot;SP-A-AEREO&quot;, &quot;A&quot;,
&quot;SP-AW-GLOBAL AEREO&quot;, &quot;AW&quot;,
&quot;SP-CE-COMERCIO EXT&quot;, &quot;CE&quot;,
&quot;SP-EX-SEGUROS&quot;, &quot;SEGUROS&quot;,
&quot;SP-M-MARITIMO&quot;, &quot;M&quot;,
&quot;SP-PQ-PAQUETERIA&quot;, &quot;PQ&quot;,
&quot;SP-PTO-PUERTOS&quot;, &quot;PTO&quot;,
&quot;SP-R-GLOBAL ROUTING&quot;, &quot;FI&quot;,
&quot;SP-SL-SERV LOGISTICO&quot;, &quot; &quot;,
&quot;SP-T-CONSOLIDADO&quot;, &quot;T&quot;,
&quot;SP-W-GLOBAL MARITIMO&quot;, &quot;M&quot;,
&quot;SP-WH-ALMACENAJE&quot;, &quot;WH&quot;,
&quot;N/A&quot;
)</expression>
    </formulas>
    <interviewLabel>CAPEX - Funnel Commercial / Opportunitties4 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAPEX - Funnel Commercial / Opportunitties4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Componente de creación de registros para insertar una nueva oportunidad con los datos proporcionados en la SCREEN Oportunidad - Nuevos Negocios.</description>
        <name>Copy_1_of_Crear_Oportunidad_Nuevos_Negocios</name>
        <label>Copy 1 of Crear Oportunidad - Nuevos Negocios</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>SCREEN_Carga_de_Licitacion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultMessage1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PROJ_ProspectoCliente.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>Tipo_de_servicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PROJ_ProspectoCliente.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opportunity_Record_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>VeriableSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospectar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount_del__c</field>
            <value>
                <elementReference>PROJ_Tamano_de_Oportunidad_MX</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Componente de creación de registros para insertar una nueva oportunidad con los datos proporcionados en la SCREEN Oportunidad - Nuevos Negocios.</description>
        <name>CRE_Oportunidad_Nuevos_Negocios</name>
        <label>Crear Oportunidad - Nuevos Negocios</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>SCREEN_Carga_de_Licitacion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PROJ_ProspectoCliente1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>Tipo_de_servicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PROJ_ProspectoCliente1.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opportunity_Record_ID1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>VeriableSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospectar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount_del__c</field>
            <value>
                <elementReference>Tama_o_de_Oportunidad_Anual_MX</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>crea_cuenta_prospecto</name>
        <label>crea cuenta prospecto</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignRecordIdToReference>variableIdCliente</assignRecordIdToReference>
        <connector>
            <targetReference>Continuacion_para_crear_opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Estatus_Recuperado__c</field>
            <value>
                <elementReference>ESTATUS_DE_CONTACTO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NEU_Email__c</field>
            <value>
                <elementReference>email_cte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name_cte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obsycom_cta__c</field>
            <value>
                <elementReference>var_ObservacionesComentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefono_cte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_cuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAX_ID__c</field>
            <value>
                <elementReference>Tax_ID_cte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tippag_cta__c</field>
            <value>
                <elementReference>Tipo_de_venta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venta_Sap__c</field>
            <value>
                <elementReference>Tipo_de_venta</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <description>Documento de licitación en la oportunidad</description>
        <name>Get_Documentos_Licitacion</name>
        <label>Get Documentos - Licitación</label>
        <locationX>512</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_con_documento_de_Licitacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene la oportunidad que se creó recientemente</description>
        <name>Get_Oportunidad_Nuevos_Negocios</name>
        <label>Get Oportunidad - Nuevos Negocios</label>
        <locationX>512</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Documentos_Licitacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta el record id en el objeto oportunidad</description>
        <name>Get_Opportunity_Record_ID</name>
        <label>Get Opportunity Record ID</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCREEN_Oportunidad_Nuevos_Negocios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proyectos</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta el record id en el objeto oportunidad</description>
        <name>Get_Opportunity_Record_ID1</name>
        <label>Get Opportunity Record ID</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRE_Oportunidad_Nuevos_Negocios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proyectos</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Opportunity_Record_ID</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta el record id en el objeto oportunidad</description>
        <name>Obtener_Opportunity_Record_ID</name>
        <label>Obtener Opportunity Record ID</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>INTEGRADA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proyectos</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Continuacion_para_crear_opp</name>
        <label>Continuacion para crear opp</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Record_ID</targetReference>
        </connector>
        <fields>
            <name>Mensaje</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;El cliente se ha generado con exito, por favor  continue con la generacion de la oportunidad.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Ventana para mostrar un mensaje por cualquier incidencia que pueda ocurrir al insertar la oportunidad</description>
        <name>FaultMessage</name>
        <label>FaultMessage</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage001</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 22, 22);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Ventana para mostrar un mensaje por cualquier incidencia que pueda ocurrir al insertar la oportunidad</description>
        <name>FaultMessage1</name>
        <label>FaultMessage</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_FaultMessage001</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 22, 22);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>INTEGRADA</name>
        <label>INTEGRADA</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decisi_n_cliente_existe</targetReference>
        </connector>
        <fields>
            <name>INTEGRADA_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>INTEGRADA_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tipo_de_servicio</name>
                    <choiceReferences>group</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de servicio</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ClienteEstaRegistrado</name>
                    <choiceReferences>Sicreado</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>¿El cliente ya se encuentra registrado?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Datos_de_Cliente</name>
            <fieldText>Datos de Cliente</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Datos_de_Cliente_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name_cte</name>
                    <dataType>String</dataType>
                    <fieldText>Razon social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tax_ID_cte</name>
                    <dataType>String</dataType>
                    <fieldText>RFC (Opcional)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telefono_cte</name>
                    <dataType>String</dataType>
                    <fieldText>Telefono</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>email_cte</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tipo_de_venta</name>
                    <choiceReferences>tipodeventa</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo de venta</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ESTATUS_DE_CONTACTO</name>
                    <choiceReferences>ESTATUSDECONTACTO</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Cliente Contactado</stringValue>
                    </defaultValue>
                    <fieldText>ESTATUS DE CONTACTO</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ObservacionesComentarios</name>
                    <fieldText>Observaciones y comentarios</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ClienteEstaRegistrado</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>False_option</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Datos_de_oportunidad</name>
            <fieldText>Datos de oportunidad</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Datos_de_oportunidad_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PROJ_ProspectoCliente1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cliente/Prospecto de Oportunidad</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Tama_o_de_Oportunidad_Anual_MX</name>
                    <dataType>Currency</dataType>
                    <fieldText>Tamaño de Oportunidad Anual (MX$)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>ClienteEstaRegistrado</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Sicreado</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>SIGUIENTE</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para seleccionar y cargar el documento de licitación</description>
        <name>SCREEN_Carga_de_Licitacion</name>
        <label>Carga de Licitación</label>
        <locationX>512</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Oportunidad_Nuevos_Negocios</targetReference>
        </connector>
        <fields>
            <name>PROJ_Carga_de_Licitacion</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Carga de Licitación</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OpportunityID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para el formulario de nuevos negocios</description>
        <name>SCREEN_Oportunidad_Nuevos_Negocios</name>
        <label>Oportunidad - Nuevos Negocios</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Service_mode_FN</targetReference>
        </connector>
        <fields>
            <name>PROJ_ProspectoCliente</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cliente/Prospecto de Oportunidad</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>variableIdCliente</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PROJ_Tamano_de_Oportunidad_MX</name>
            <dataType>Currency</dataType>
            <fieldText>Tamaño de Oportunidad Anual (MX$)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Ventana para mostrar el resumen de la oportunidad nuevos negocios creada.</description>
        <name>SCREEN_Resumen_Nuevos_Negocios</name>
        <label>Resumen - Nuevos Negocios</label>
        <locationX>512</locationX>
        <locationY>2570</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpportunityNuevosNegocios</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!TXT_UrlProd}{!OpportunityID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Se ha creado la oportunidad: {!Get_Oportunidad_Nuevos_Negocios.Name}  De click aqui para abrirla&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Detalles.&lt;/u&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Tamaño de Oportunidad Anual (MX$):&lt;/strong&gt; &lt;em&gt;{!Get_Oportunidad_Nuevos_Negocios.Amount}&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Etapa:&lt;/strong&gt; &lt;em&gt;{!Get_Oportunidad_Nuevos_Negocios.StageName}&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DOC_LicitacionCargada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(33, 115, 70);&quot;&gt;Se cargó el documento de licitación y se asignó en la oportunidad.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocStatusLicitacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DOC_LicitacionFaltante</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(196, 49, 75);&quot;&gt;Faltó subir el documento de licitación. Se deberá cargar más adelante.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocStatusLicitacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>asignar_campana</name>
        <label>asignar campaña</label>
        <locationX>512</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>SCREEN_Resumen_Nuevos_Negocios</targetReference>
        </connector>
        <flowName>Pantalla_Seleccion_Campana</flowName>
        <inputAssignments>
            <name>IdOpportunity</name>
            <value>
                <elementReference>Get_Oportunidad_Nuevos_Negocios.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Detecta si ya se cargó un documento de licitación en la oportunidad</description>
        <name>DocStatusLicitacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Almacena el ID de la oportunidad que se creará para proyectos.</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerfilMarketing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PAK2GO Marketing</stringValue>
        </value>
    </variables>
    <variables>
        <name>RT_cuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0124T000000PTuRQAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>SapServiceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STATUS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cliente Contactado</stringValue>
        </value>
    </variables>
    <variables>
        <description>Enlace URL para registros en el entorno de producción</description>
        <name>TXT_UrlProd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://pak2gologistics.lightning.force.com/</stringValue>
        </value>
    </variables>
    <variables>
        <description>Enlace URL para registros en el entorno de UAT</description>
        <name>TXT_UrlUAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://pak2gologistics--uat.sandbox.lightning.force.com/</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_ObservacionesComentarios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableIdCliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VeriableSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
