force-app/main/default/flows/CAPEX_Funnel_Commercial_Opportunitties.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Asigna como falso la variable DocStatusLicitacion.</description>
        <name>DocStatusLicitacion_False</name>
        <label>DocStatusLicitacion - False</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>DocStatusLicitacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Resumen_Nuevos_Negocios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna como verdadero la variable DocStatusLicitacion.</description>
        <name>DocStatusLicitacion_True</name>
        <label>DocStatusLicitacion - True</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>DocStatusLicitacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Resumen_Nuevos_Negocios</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Consulta si la oportunidad creada ya cuenta con el documento de licitación</description>
        <name>Cuenta_con_documento_de_Licitacion</name>
        <label>¿Cuenta con documento de Licitación?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>DocStatusLicitacion_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_Licitacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Documentos_Licitacion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocStatusLicitacion_True</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Componente de decisión que consulta si el usuario que ejecuta el flujo pertenece al equipo comercial de nuevos negocios. Si pertenece, podrá continuar con el proceso, de lo contrario el flujo finalizará.</description>
        <name>DECISION_Equipo_Comercial_Nuevos_Negocios</name>
        <label>Equipo Comercial - Nuevos Negocios</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>SCREEN_No_pertenece_al_equipo_nuevos_negocios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Equipo_Comercial_Nuevos_Negocios</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Profile.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record_ID</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <description>Este flujo de pantallas irá orientado a la creación de oportunidades con el record type Proyectos. Esto con el propósito de gestionar las oportunidades de nuevos negocios.</description>
    <environments>Default</environments>
    <formulas>
        <description>Este campo calculará la fecha de cierre que se le asignará a la oportunidad de proyectos.</description>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),1)</expression>
    </formulas>
    <interviewLabel>CAPEX - Funnel Commercial / Opportunitties {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAPEX - Funnel Commercial / Opportunitties</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Componente de creación de registros para insertar una nueva oportunidad con los datos proporcionados en la SCREEN Oportunidad - Nuevos Negocios.</description>
        <name>CRE_Oportunidad_Nuevos_Negocios</name>
        <label>Crear Oportunidad - Nuevos Negocios</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>OpportunityID</assignRecordIdToReference>
        <connector>
            <targetReference>SCREEN_Carga_de_Licitacion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PROJ_ProspectoCliente.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>PROJ_Tamano_de_Oportunidad_MX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Opportunity_Record_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Abierto calificado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <description>Documento de licitación en la oportunidad</description>
        <name>Get_Documentos_Licitacion</name>
        <label>Get Documentos - Licitación</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_con_documento_de_Licitacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene la oportunidad que se creó recientemente</description>
        <name>Get_Oportunidad_Nuevos_Negocios</name>
        <label>Get Oportunidad - Nuevos Negocios</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Documentos_Licitacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta el record id en el objeto oportunidad</description>
        <name>Get_Opportunity_Record_ID</name>
        <label>Get Opportunity Record ID</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCREEN_Oportunidad_Nuevos_Negocios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proyectos</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Ventana para mostrar un mensaje por cualquier incidencia que pueda ocurrir al insertar la oportunidad</description>
        <name>FaultMessage</name>
        <label>FaultMessage</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultMessage001</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 22, 22);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para seleccionar y cargar el documento de licitación</description>
        <name>SCREEN_Carga_de_Licitacion</name>
        <label>Carga de Licitación</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Oportunidad_Nuevos_Negocios</targetReference>
        </connector>
        <fields>
            <name>PROJ_Carga_de_Licitacion</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Carga de Licitación</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OpportunityID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla que devuelve un mensaje al usuario. Le indica que no es miembro del equipo comercial nuevos negocios.</description>
        <name>SCREEN_No_pertenece_al_equipo_nuevos_negocios</name>
        <label>No pertenece al equipo nuevos negocios</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message001</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(235, 236, 240);&quot;&gt;No perteneces al equipo comercial (Nuevos Negocios). No puedes crear oportunidades de Proyectos&lt;/em&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 16px; background-color: rgb(235, 236, 240);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para el formulario de nuevos negocios</description>
        <name>SCREEN_Oportunidad_Nuevos_Negocios</name>
        <label>Oportunidad - Nuevos Negocios</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CRE_Oportunidad_Nuevos_Negocios</targetReference>
        </connector>
        <fields>
            <name>PROJ_ProspectoCliente</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cliente/Prospecto de Oportunidad</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PROJ_Tamano_de_Oportunidad_MX</name>
            <dataType>Currency</dataType>
            <fieldText>Tamaño de Oportunidad Anual (MX$)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Ventana para mostrar el resumen de la oportunidad nuevos negocios creada.</description>
        <name>SCREEN_Resumen_Nuevos_Negocios</name>
        <label>Resumen - Nuevos Negocios</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpportunityNuevosNegocios</name>
            <fieldText>&lt;p&gt;Se ha creado la oportunidad &lt;a href=&quot;{!TXT_UrlProd}{!OpportunityID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(252, 185, 91);&quot;&gt;&lt;strong&gt;{!Get_Oportunidad_Nuevos_Negocios.Name}&lt;/strong&gt;&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Detalles.&lt;/u&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Tamaño de Oportunidad Anual (MX$):&lt;/strong&gt; &lt;em&gt;{!Get_Oportunidad_Nuevos_Negocios.Amount}&lt;/em&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Etapa:&lt;/strong&gt; &lt;em&gt;{!Get_Oportunidad_Nuevos_Negocios.StageName}&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DOC_LicitacionCargada</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(33, 115, 70);&quot;&gt;Se cargó el documento de licitación y se asignó en la oportunidad.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocStatusLicitacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DOC_LicitacionFaltante</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(196, 49, 75);&quot;&gt;Faltó subir el documento de licitación. Se deberá cargar más adelante.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocStatusLicitacion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DECISION_Equipo_Comercial_Nuevos_Negocios</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Detecta si ya se cargó un documento de licitación en la oportunidad</description>
        <name>DocStatusLicitacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Almacena el ID de la oportunidad que se creará para proyectos.</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Enlace URL para registros en el entorno de producción</description>
        <name>TXT_UrlProd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://pak2gologistics.lightning.force.com/</stringValue>
        </value>
    </variables>
    <variables>
        <description>Enlace URL para registros en el entorno de UAT</description>
        <name>TXT_UrlUAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://pak2gologistics--uat.sandbox.lightning.force.com/</stringValue>
        </value>
    </variables>
</Flow>
