force-app/main/default/flows/Check_Quote_Sell_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ServiceLineName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Service_Lien.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Lien</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Con_Lineas</name>
        <label>Con Lineas</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ConServiceLine</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Con_Lineas_2</name>
        <label>Con Lineas 2</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ConServiceLine</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Lien</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Folio_Cero</name>
        <label>Folio Cero</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VariableCero</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Con_Lineas</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Copy_1_of_Sin_Service_Line</name>
        <label>Copy 1 of Sin Service Line</label>
        <locationX>842</locationX>
        <locationY>1247</locationY>
        <customErrorMessages>
            <errorMessage>IMP004 - El Folio {!$Record.Name} debe tener Service Line cargadas para cambiar de etapa a &quot;Approed as Succesful&quot;</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Error Menssage - Service Line sin Quote Sell Price</description>
        <name>Service_Line</name>
        <label>Service Line</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <customErrorMessages>
            <errorMessage>IMP004 - Las Service Line deben tener Quote Sell Price mayor a 0 - Revisar Service Line &quot;{!ServiceLineName}&quot;</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Sin_Service_Line</name>
        <label>Sin Service Line</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <customErrorMessages>
            <errorMessage>IMP004 - El Folio {!$Record.Name} debe tener Service Line cargadas para cambiar de etapa a &quot;Approed as Succesful&quot;</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Quote_Sell_Price</name>
        <label>Quote Sell Price</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Con_Lineas_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>menor_que_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Service_Lien.Quote_Sell_Price__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Service_Lien.Quote_Sell_Price__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Folio_Cero</targetReference>
            </connector>
            <label>menor que 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Check</name>
        <label>Update Check</label>
        <locationX>446</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Sin_Service_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VariableCero</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConServiceLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sin_Service_Line</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Con_Service_Line</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>ConServiceLine</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VariableCero</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Line</targetReference>
            </connector>
            <label>Con Service Line</label>
        </rules>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VariableCero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConServiceLine</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Service Line Con Quote Sell Price</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check Quote Sell Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Quote Sell Price</label>
    <loops>
        <name>Loop_Service_Lien</name>
        <label>Loop Service Line</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <collectionReference>Folio</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quote_Sell_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Folio</name>
        <label>Folio</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service_Lien</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Import_Export_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Import_Export_Fee_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Folio</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 5) OR (2 AND 3 AND 5) OR (1 AND 2 AND 4 AND 5) OR (2 AND 3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved as Succesful</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FolioResume__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FN</stringValue>
            </value>
        </filters>
        <object>Customer_Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ConServiceLine</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NameServiceLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceLineName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableCero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
