force-app/main/default/flows/CI_Actualizacion_del_Seguimiento_en_Cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Consulta la etapa que se actualiza en la oportunidad</description>
        <name>Etapa_de_la_Oportunidad</name>
        <label>Etapa de la Oportunidad</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Firts_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Contact / Need Analysis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Opp.SeguimientoProspecto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vendido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seguimiento_Espera_de_Costos</targetReference>
            </connector>
            <label>Firts Contact</label>
        </rules>
        <rules>
            <name>Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Opp.SeguimientoProspecto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vendido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote_Order__r.Total_Services_Sell_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seguimiento_Cotizado</targetReference>
            </connector>
            <label>Proposal</label>
        </rules>
        <rules>
            <name>Agreed_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreed Shipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seguimiento_Venta</targetReference>
            </connector>
            <label>Agreed Shipping</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Opp.SeguimientoProspecto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vendido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seguimiento_No_Venta</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <description>Flujo que detecta los cambios en las etapas de la oportunidad, y actualiza el Seguimiento del cliente dependiendo de la etapa.</description>
    <environments>Default</environments>
    <interviewLabel>CI/ Actualización del Seguimiento en Cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI/ Actualización del Seguimiento en Cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Consulta el cliente (Account Name) relacionado a la oportunidad que desencadena el flujo</description>
        <name>Get_Account_Opp</name>
        <label>Get Account Opp</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Etapa_de_la_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SeguimientoProspecto__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza el estatus de &quot;Seguimiento&quot; del cliente al valor de Cotizado.</description>
        <name>Seguimiento_Cotizado</name>
        <label>Seguimiento - Cotizado</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SeguimientoProspecto__c</field>
            <value>
                <stringValue>Cotizado_1</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el estatus de &quot;Seguimiento&quot; del cliente al valor de Espera de Costos.</description>
        <name>Seguimiento_Espera_de_Costos</name>
        <label>Seguimiento - Espera de Costos</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SeguimientoProspecto__c</field>
            <value>
                <stringValue>En espera de Costos</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el estatus de &quot;Seguimiento&quot; del cliente al valor de No Venta.</description>
        <name>Seguimiento_No_Venta</name>
        <label>Seguimiento - No Venta</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Motivo_no_venta__c</field>
            <value>
                <stringValue>Falta de seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SeguimientoProspecto__c</field>
            <value>
                <stringValue>No Venta</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el estatus de &quot;Seguimiento&quot; del cliente al valor de Venta.</description>
        <name>Seguimiento_Venta</name>
        <label>Seguimiento - Venta</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SeguimientoProspecto__c</field>
            <value>
                <stringValue>Vendido</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Opp</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>First Contact / Need Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreed Shipping</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
