force-app/main/default/flows/Creacion_de_SP_con_folios_FN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_new_Shipment</name>
        <label>Create new Shipment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>NEU_Generate_Shipments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Shipment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NEU_Generate_Shipments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>IdLider1_Noroeste_GDL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005RQ000000115JYAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>IdLider2_PACSUR_CentroNorte</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0054T000001jpXoQAI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Definicion_de_Zona</name>
        <label>Definicion de Zona</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Sin Zona</defaultConnectorLabel>
        <rules>
            <name>Zona_Noroeste_y_GDL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Route__r.Zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GDL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Route__r.Zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noroeste</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lider1</targetReference>
            </connector>
            <label>Zona Noroeste y GDL</label>
        </rules>
        <rules>
            <name>Zona_PAC_SUR_y_Centro_Norte1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Route__r.Zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAC-SUR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Route__r.Zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centro-Norte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_UpdateShipmentLider1</targetReference>
            </connector>
            <label>Zona PAC-SUR y Centro-Norte</label>
        </rules>
    </decisions>
    <decisions>
        <name>status_approved_y_Operation_Executive_null</name>
        <label>status approved y Operation Executive null</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No cumple con las condiciones</defaultConnectorLabel>
        <rules>
            <name>Cumple_con_las_condiciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quotation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved as Succesful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operations_Exec__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verificar_si_ETD_es_menor_a_24_horas</targetReference>
            </connector>
            <label>Cumple con las condiciones</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_si_ETD_es_menor_a_24_horas</name>
        <label>Verificar si ETD es menor a 24 horas</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Es mayor a 24 hrs</defaultConnectorLabel>
        <rules>
            <name>ETD_es_menor_a_24_hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ETDMenor24hrs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.ETD_Time__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Shipment</targetReference>
            </connector>
            <label>ETD es menor a 24 hrs</label>
        </rules>
    </decisions>
    <description>Updare Lider en Shipment en campo Operation Executive</description>
    <environments>Default</environments>
    <formulas>
        <name>ETDMenor24hrs</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.ETD_Time__c} + 1</expression>
    </formulas>
    <interviewLabel>Creación de SP con folios FN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación de SP con folios FN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shipment</name>
        <label>Get Shipment</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_folio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_folio</name>
        <label>Actualizar folio</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Definicion_de_Zona</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Shipment__c</field>
            <value>
                <elementReference>Get_Shipment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation_Status__c</field>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_UpdateShipmentLider1</name>
        <label>UpdateShipmentLider1</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Operation_Executive__c</field>
            <value>
                <elementReference>IdLider2_PACSUR_CentroNorte</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lider1</name>
        <label>UpdateShipmentLider1</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Operation_Executive__c</field>
            <value>
                <elementReference>IdLider1_Noroeste_GDL</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>status_approved_y_Operation_Executive_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FolioResume__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FN</stringValue>
            </value>
        </filters>
        <filters>
            <field>FolioResume__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CE</stringValue>
            </value>
        </filters>
        <object>Customer_Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>execute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Quote__c</objectType>
    </variables>
</Flow>
