force-app/main/default/flows/Creaci_n_de_oportunidades_para_el_folio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Actualizacion_de_cuenta_y_servicio</name>
        <label>Actualizacion de cuenta y servicio</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No actualizado</defaultConnectorLabel>
        <rules>
            <name>Actualizado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account_for__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_for__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FolioResume__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FolioResume__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Actualizado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_si_tiene_oportunidad</name>
        <label>Validar si tiene oportunidad</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Actualizacion_de_cuenta_y_servicio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tiene oportunidad</defaultConnectorLabel>
        <rules>
            <name>No_tiene_oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_nueva_oportunidad</targetReference>
            </connector>
            <label>No tiene oportunidad</label>
        </rules>
    </decisions>
    <description>Se crea opportunity cuando se crea o actualiza el folio.</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS(NOW(),1)</expression>
    </formulas>
    <formulas>
        <name>ServiceType</name>
        <dataType>String</dataType>
        <expression>if(CONTAINS(LEFT({!$Record.Name}, 2), &quot;-&quot;),LEFT({!$Record.Name}, 1),if(!CONTAINS(LEFT({!$Record.Name}, 3), &quot;-&quot;),LEFT({!$Record.Name}, 3),LEFT({!$Record.Name}, 2)))</expression>
    </formulas>
    <interviewLabel>Creación de oportunidades para el folio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación de oportunidades para el folio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_nueva_oportunidad</name>
        <label>Crear nueva oportunidad</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>newOpportunity.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Actualizar_folio</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Import_Export_Quote_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>ServiceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Import-Export Quote/Order</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordUpdates>
        <name>Actualizar_folio</name>
        <label>Actualizar folio</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>newOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>ServiceType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validar_si_tiene_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved as Succesful</stringValue>
            </value>
        </filters>
        <object>Customer_Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>newOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
