force-app/main/default/flows/Devolucion_Shipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Detecta si el campo Recuperación de mercancía se activa.</description>
        <name>Checkbox_Devoluciones</name>
        <label>Checkbox Devoluciones</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipment_Status_Monitoreo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipment_Status_Mon__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery on Route_M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipment_Status_Mon__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Shipment_Status_Mon__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipment_Status_Planner</targetReference>
            </connector>
            <label>Shipment Status Monitoreo</label>
        </rules>
        <rules>
            <name>Recuperacion_de_mercancia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Recuperacion_de_mercancia__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Recuperacion_de_mercancia__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_recuperacion_mercancia</targetReference>
            </connector>
            <label>Recuperación de mercancía</label>
        </rules>
        <rules>
            <name>Asunto_Cita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Asunto_Cita__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Asunto_Cita__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_Asunto_Cita</targetReference>
            </connector>
            <label>Asunto/Cita</label>
        </rules>
        <rules>
            <name>Devolucion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Devolucion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Devolucion__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_Devolucion</targetReference>
            </connector>
            <label>Devolución</label>
        </rules>
    </decisions>
    <description>Flujo que detecta cuando se actualizan los checkbox en Devoluciones</description>
    <environments>Default</environments>
    <formulas>
        <description>Almacena la Fecha y Hora Actual</description>
        <name>FechaHoraActual</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Devolución Shipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devolución Shipment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Captura la fecha de Asunto/Cita</description>
        <name>Fecha_Asunto_Cita</name>
        <label>Fecha Asunto/Cita</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Fecha_Asunto_Cita__c</field>
            <value>
                <elementReference>FechaHoraActual</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Captura la fecha cuando se inicia la devolución</description>
        <name>Fecha_Devolucion</name>
        <label>Fecha Devolución</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Inicio_Devolucion_Fecha__c</field>
            <value>
                <elementReference>FechaHoraActual</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el campo Fecha de recuperación mercancía</description>
        <name>Fecha_recuperacion_mercancia</name>
        <label>Fecha recuperación mercancía</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Fecha_recuperacion_de_mercancia__c</field>
            <value>
                <elementReference>FechaHoraActual</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el campo Shipment Status Planner cuando el campo Shipment Status Monitoreo se le asigna el valor &apos;Delivery on Route&apos;.
El valor que se asigna en Shipment Status Planner es &apos;Delivery On Route&apos;.</description>
        <name>Shipment_Status_Planner</name>
        <label>Shipment Status Planner</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Shipment_Status_Plann__c</field>
            <value>
                <stringValue>Delivery On Route</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checkbox_Devoluciones</targetReference>
        </connector>
        <filterLogic>(1 AND 4) OR (2 AND 5) OR (3 AND 6) OR (7 AND 8)</filterLogic>
        <filters>
            <field>Recuperacion_de_mercancia__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Asunto_Cita__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Devolucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recuperacion_de_mercancia__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Asunto_Cita__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Devolucion__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Mon__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery on Route_M</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Mon__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Shipment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
