force-app/main/default/flows/Email_Status_Closed_SP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Status_Closed</name>
        <label>Email Status Closed</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Shipment__c.Estatus_cerrado_cambia</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Actualizar_SP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipment__c.Estatus_cerrado_cambia</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Identificar_si_el_status_cambio</name>
        <label>Identificar si el status cambio</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Is Closed</defaultConnectorLabel>
        <rules>
            <name>Is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Shipment_Status_Plann__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipment_Status_Plann__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Status_Closed</targetReference>
            </connector>
            <label>Is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Status Closed SP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Status Closed SP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_SP</name>
        <label>Actualizar SP</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Modifico_Status_Planner__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identificar_si_el_status_cambio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment_Status_Plann__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Plann__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Shipment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
