force-app/main/default/flows/Encuesta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddCollection</name>
        <label>AddCollection</label>
        <locationX>899</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>AccountToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_registros</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_registros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAccount</name>
        <label>setAccount</label>
        <locationX>945</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>Recorrer_registros.Enviar_encuesta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCollection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Encuesta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encuesta</label>
    <loops>
        <name>Recorrer_registros</name>
        <label>Recorrer registros</label>
        <locationX>774</locationX>
        <locationY>563</locationY>
        <collectionReference>Registros_con_encuesta_enviada</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Registros_con_encuesta_enviada</name>
        <label>Registros con encuesta enviada</label>
        <locationX>776</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_registros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enviar_encuesta__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllAccount</name>
        <label>UpdateAllAccount</label>
        <locationX>729</locationX>
        <locationY>753</locationY>
        <inputReference>AccountToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Registros_con_encuesta_enviada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enviar_encuesta__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2020-10-12</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
