force-app/main/default/flows/Folio_Aprobacion_Directores.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>approvedAsSuccesful</name>
        <choiceText>Approved as Succesful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved as Succesful</stringValue>
        </value>
    </choices>
    <choices>
        <name>quoteDeclined</name>
        <choiceText>Quote Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>sentAwaitingResponse</name>
        <choiceText>Sent awaiting response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent awaiting response</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Folio_Status</name>
        <label>Folio Status</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Folio_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approved/Sent Awaiting Response</defaultConnectorLabel>
        <rules>
            <name>Declined_Tarifa_Alta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quoteDeclined</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Declined_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TARIFA ALTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Folio_1</targetReference>
            </connector>
            <label>Declined Tarifa Alta</label>
        </rules>
        <rules>
            <name>Declined_Intinerarios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quoteDeclined</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Declined_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INTINERARIOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Folio_2</targetReference>
            </connector>
            <label>Declined Intinerarios</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Quotation_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>quoteDeclined</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Declined_for</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TARIFA ALTA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Declined_for</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>INTINERARIOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Folio_3</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Listado de razones por las que se Declina el folio</description>
        <name>declinedFor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Declined_for2__c</picklistField>
        <picklistObject>Customer_Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuoteStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quotation_Status__c</picklistField>
        <picklistObject>Customer_Quote__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Folio - Aprobación Directores {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Folio - Aprobación Directores</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Traer la información del folio en cuestión</description>
        <name>Get_IE_Q_O</name>
        <label>Get IE Q/O</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quotes_IE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Folio_1</name>
        <label>Update Folio 1</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Error_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Declined_for2__c</field>
            <value>
                <elementReference>Declined_for</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Que_tarifa_esperaba_el_cliente__c</field>
            <value>
                <elementReference>Que_tarifa_esperaba_el_cliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation_Status__c</field>
            <value>
                <elementReference>Quotation_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Folio_2</name>
        <label>Update Folio 2</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Error_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Declined_for2__c</field>
            <value>
                <elementReference>Declined_for</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Que_fecha_esperaba_el_cliente__c</field>
            <value>
                <elementReference>Que_fecha_esperaba_el_cliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation_Status__c</field>
            <value>
                <elementReference>Quotation_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Folio_3</name>
        <label>Update Folio 3</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Error_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Declined_for2__c</field>
            <value>
                <elementReference>Declined_for</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation_Status__c</field>
            <value>
                <elementReference>Quotation_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Folio_4</name>
        <label>Update Folio 4</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Error_4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quotation_Status__c</field>
            <value>
                <elementReference>Quotation_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Error_1</name>
        <label>Error 1</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageError1</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_2</name>
        <label>Error 2</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageError1_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_3</name>
        <label>Error 3</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageError1_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_4</name>
        <label>Error 4</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageError1_0_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quotes_IE</name>
        <label>Quotes</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Folio_Status</targetReference>
        </connector>
        <fields>
            <name>Quotes_IE_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quotes_IE_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quotes_IE_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sellPrice</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 208, 31);&quot;&gt;Margen Operativo %&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_IE_Q_O.Margen_Operativo__c} %&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quotes_IE_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buyPrice</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(52, 208, 31);&quot;&gt;Margen Bruto %&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_IE_Q_O.Margen_Bruto__c} %&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quotes_IE_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Quotes_IE_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quotes_IE_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totalServicesOrderAmount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(37, 49, 205);&quot;&gt;Total Services Order Amount&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_IE_Q_O.Total_Services_Sell_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quotes_IE_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>totalServicesBuyAmount</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(37, 49, 205);&quot;&gt;Total Services Std. Buy Amount&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_IE_Q_O.Total_Services_Std_Buy_Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quotes_IE_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>servicesProfit</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(37, 49, 205);&quot;&gt;Services Std. Profit&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_IE_Q_O.Services_Profit__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Quotation_Status</name>
            <choiceReferences>sentAwaitingResponse</choiceReferences>
            <choiceReferences>approvedAsSuccesful</choiceReferences>
            <choiceReferences>quoteDeclined</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quotation Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quotes_IE_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quotes_IE_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Declined_for</name>
                    <choiceReferences>declinedFor</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Declined for</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Quotation_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>quoteDeclined</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Que_tarifa_esperaba_el_cliente</name>
                    <dataType>Number</dataType>
                    <fieldText>¿Qué tarifa esperaba el cliente?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Declined_for</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TARIFA ALTA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Que_fecha_esperaba_el_cliente</name>
                    <dataType>Date</dataType>
                    <fieldText>¿Qué fecha esperaba el cliente?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Declined_for</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>INTINERARIOS</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_IE_Q_O</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Folio_Profit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;div style=\&apos;color:red;\&apos;&gt;PROFIT&lt;/div&gt;&lt;br&gt;{!Get_IE_Q_O.Total_Standard_Profit__c}</stringValue>
        </value>
    </variables>
    <variables>
        <description>ID del Folio</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
