force-app/main/default/flows/IEQ_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_IEQ_Invoice_0</name>
        <label>Enviar IEQ Invoice</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailCreadordelIEQ</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Servicio Confirmado</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>Confirmed</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>Email</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Est_en_confirmed</name>
        <label>Está en confirmed?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene_confirmacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipment_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SPConfirmacion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_IEQ_Invoice_0</targetReference>
            </connector>
            <label>Tiene confirmacion</label>
        </rules>
    </decisions>
    <formulas>
        <name>EmailCreadordelIEQ</name>
        <dataType>String</dataType>
        <expression>{!$Record.CreatedBy.Email}</expression>
    </formulas>
    <formulas>
        <name>SPConfirmacion</name>
        <dataType>String</dataType>
        <expression>{!$Record.Shipment_Status__c}</expression>
    </formulas>
    <interviewLabel>IEQ Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IEQ Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Est_en_confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Customer_Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;Un servicio a sido confirmado y esta listo para generarse&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 16px; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;&lt;i&gt;Invoice&lt;/i&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: arial; color: rgb(0, 0, 0);&quot;&gt;, por favor apoyo con la generación de la misma y envío a SAP.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Shipment&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;{!$Record.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Cliente&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;{!$Record.Account_for__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Shipment Status Planner&amp;nbsp;    &lt;b&gt;{!$Record.Shipment_Status__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;r&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Planner&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;{!$Record.Operations_Exec__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Ruta&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;&amp;nbsp;&amp;nbsp;{!$Record.Route__c}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Status1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Quote__c</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
