force-app/main/default/flows/Notificacion_CE_Pricing_Executive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Comercio_Exterior_PORT_Road</name>
        <label>Comercio Exterior PORT - Road</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>Customer_Quote__c.Notificacion_CE_Sea_Air</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Quote__c.Notificacion_CE_Sea_Air</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Comercio_Exterior_Road</name>
        <label>Comercio Exterior - Road</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>Customer_Quote__c.Notificacion_CE_Road</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Quote__c.Notificacion_CE_Road</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Comercio_Exterior_Sea_Air</name>
        <label>Comercio Exterior - Sea/Air</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>Customer_Quote__c.Notificacion_CE_Sea_Air</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Quote__c.Notificacion_CE_Sea_Air</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Envía una notificación al equipo de Comercio Exterior cuando se genera un nuevo Shipment SP-CE</description>
        <name>SP_Comercio_Exterior_PORT_Road</name>
        <label>SP Comercio Exterior PORT - Road</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <actionName>Customer_Quote__c.Notificacion_SP_CE_Sea_Air</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Quote__c.Notificacion_SP_CE_Sea_Air</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Envía notificación al equipo de comercio exterior sobre el nuevo Shipment SP-CE generado</description>
        <name>SP_Comercio_Exterior_Road</name>
        <label>SP Comercio Exterior - Road</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>Customer_Quote__c.Notificacion_SP_CE_Road</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Quote__c.Notificacion_SP_CE_Road</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Envía una notificación al equipo de Comercio Exterior cuando se genera un nuevo Shipment SP-CE</description>
        <name>SP_Comercio_Exterior_Sea_Air</name>
        <label>SP Comercio Exterior - Sea/Air</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>Customer_Quote__c.Notificacion_SP_CE_Sea_Air</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Quote__c.Notificacion_SP_CE_Sea_Air</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Identifica en que etapa del campo Quotation Status se encuentra el folio que desencadenó el flujo</description>
        <name>Quotation_Status</name>
        <label>Quotation Status</label>
        <locationX>1007</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Awaiting_Cost_Suppliers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quotation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting costs suppliers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Road_Sea_Air</targetReference>
            </connector>
            <label>Awaiting Cost Suppliers</label>
        </rules>
        <rules>
            <name>Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quotation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Shipment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Road_Sea_Air_0</targetReference>
            </connector>
            <label>Shipped</label>
        </rules>
    </decisions>
    <decisions>
        <description>Revisa si el folio de Comercio Exterior tiene el campo Freight Mode con el valor Road, Sea, o Air.</description>
        <name>Road_Sea_Air</name>
        <label>¿Road ó Sea/Air?</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Asignar_Pricing_Executive_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sea/Air</defaultConnectorLabel>
        <rules>
            <name>Road</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freight_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Road</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Mode</targetReference>
            </connector>
            <label>Road</label>
        </rules>
    </decisions>
    <decisions>
        <description>Revisa si el folio de Comercio Exterior tiene el campo Freight Mode con el valor Road, Sea, o Air.</description>
        <name>Road_Sea_Air_0</name>
        <label>¿Road ó Sea/Air?</label>
        <locationX>1172</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>SP_Comercio_Exterior_Sea_Air</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sea/Air</defaultConnectorLabel>
        <rules>
            <name>Road_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freight_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Road</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Mode_2</targetReference>
            </connector>
            <label>Road</label>
        </rules>
    </decisions>
    <decisions>
        <description>Consulta el valor del campo Service Mode. En algunas excepciones, el valor de ese campo definirá quien debe tener asignado el folio que desencadena este flujo.</description>
        <name>Service_Mode</name>
        <label>¿Service Mode?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Asignar_Pricing_Executive_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTROS</defaultConnectorLabel>
        <rules>
            <name>PORT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Pricing_Executive_PORT</targetReference>
            </connector>
            <label>PORT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Consulta el valor del campo Service Mode. En algunas excepciones, el valor de ese campo definirá quien debe tener asignado el folio que desencadena este flujo.</description>
        <name>Service_Mode_2</name>
        <label>¿Service Mode?</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>SP_Comercio_Exterior_Road</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTROS</defaultConnectorLabel>
        <rules>
            <name>PORT_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Mode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PORT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SP_Comercio_Exterior_PORT_Road</targetReference>
            </connector>
            <label>PORT</label>
        </rules>
    </decisions>
    <description>Flujo que envía notificación de email al pricing executive cuando Quotation Status pasa a la etapa &quot;Awaiting cost supplier&quot; en los servicios de Comercio Exterior. También envía notificación cuando se genera el SP de Comercio Exterior</description>
    <environments>Default</environments>
    <interviewLabel>Notificación CE &quot;Pricing Executive&quot; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificación CE &quot;Pricing Executive&quot;</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Asigna el Pricing Executive designado a los folios de Comercio Exterior con el campo Freight Mode en Road</description>
        <name>Asignar_Pricing_Executive_1</name>
        <label>Asignar Pricing Executive 1</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Comercio_Exterior_Road</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Executive__c</field>
            <value>
                <stringValue>0054T000001hx3EQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Asigna el Pricing Executive designado a los folios de Comercio Exterior con el campo Freight Mode en Road</description>
        <name>Asignar_Pricing_Executive_2</name>
        <label>Asignar Pricing Executive 2</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Comercio_Exterior_Sea_Air</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Executive__c</field>
            <value>
                <stringValue>0054T000001hxCLQAY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Asigna el Pricing Executive de puertos designado a los folios de Comercio Exterior con el campo Freight Mode en Road, y el campo Service Mode en PORT</description>
        <name>Asignar_Pricing_Executive_PORT</name>
        <label>Asignar Pricing Executive PORT</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Comercio_Exterior_PORT_Road</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricing_Executive__c</field>
            <value>
                <stringValue>0054T000001hxCLQAY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quotation_Status</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting costs suppliers</stringValue>
            </value>
        </filters>
        <filters>
            <field>Comercio_Exterior__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Shipment__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Shipment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Customer_Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
