force-app/main/default/flows/Oportunidades_con_Metas_Folio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Meta_null_y_opp_not_null</name>
        <label>Meta null y opp not null</label>
        <locationX>1040</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Update_opp_y_Meta_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Meta_null_Opp_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Meta_Comercial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Meta_3</targetReference>
            </connector>
            <label>Meta null &amp; Opp not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_null_y_Meta_no_null</name>
        <label>Opp null y Meta no null</label>
        <locationX>561</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_opp_and_metas_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Opp_Null_Meta_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Meta_Comercial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_2</targetReference>
            </connector>
            <label>Opp Null &amp; Meta not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_y_meta_null</name>
        <label>Opp y meta null</label>
        <locationX>305</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Opp_null_y_Meta_no_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Opp_and_meta_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Meta_Comercial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_1</targetReference>
            </connector>
            <label>Opp and meta null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_opp_and_metas_null</name>
        <label>Update opp and metas null</label>
        <locationX>809</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Meta_null_y_opp_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Update_opp_metas_null</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Meta_Comercial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account_for__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_for__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FolioResume__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FolioResume__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_1</targetReference>
            </connector>
            <label>Update opp &amp; metas null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_opp_y_Meta_not_null</name>
        <label>Update opp y Meta not null</label>
        <locationX>1238</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_Debit_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Update_opp_meta_not_null</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account_for__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_for__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.FolioResume__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FolioResume__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Meta_Comercial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_2</targetReference>
            </connector>
            <label>Update opp &amp; meta not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Después de la consulta Get Debit Note, se verifica si la consulta está trayendo datos. Si los tiene, se actualizará la Opportunity, de lo contrario no sucederá nada.</description>
        <name>Ya_cuenta_con_Debit_Note</name>
        <label>¿Ya cuenta con Debit Note?</label>
        <locationX>305</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_DebitNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Debit_Note</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Debit_Note</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(NOW(),1)</expression>
    </formulas>
    <formulas>
        <name>CreateDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Create_Date_time__c})</expression>
    </formulas>
    <formulas>
        <name>Services</name>
        <dataType>String</dataType>
        <expression>if(CONTAINS(LEFT({!$Record.Name}, 2), &quot;-&quot;),LEFT({!$Record.Name}, 1),if(!CONTAINS(LEFT({!$Record.Name}, 3), &quot;-&quot;),LEFT({!$Record.Name}, 3),LEFT({!$Record.Name}, 2)))</expression>
    </formulas>
    <interviewLabel>Oportunidades con Metas Folio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidades con Metas Folio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Opp_1</name>
        <label>Opp 1</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>newOpp.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Meta_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Import_Export_Quote_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Import-Export Quote/Order</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Opp_2</name>
        <label>Opp 2</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>newOpp.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Folio_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Import_Export_Quote_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Potencial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Import-Export Quote/Order</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <description>Consultar si el folio que desencadena el folio tiene asignada una Debit Note</description>
        <name>Get_Debit_Note</name>
        <label>Get Debit Note</label>
        <locationX>305</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_cuenta_con_Debit_Note</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Import_Export_Quote_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Import_Export_Quote_Order_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Import_Export_Quote_Order_3__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Import_Export_Quote_Order_4__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Import_Export_Quote_Order_5__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_for__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_for__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Debit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meta_1</name>
        <label>Get Meta 1</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Folio_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ejecutivo_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_Inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CreateDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreateDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Services</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Metas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meta_2</name>
        <label>Get Meta 2</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Folio_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ejecutivo_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_Inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CreateDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreateDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Services</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Metas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meta_3</name>
        <label>Get Meta 3</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Folio_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ejecutivo_Comercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id_Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_Inicial__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CreateDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Periodo_final__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreateDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Services</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Metas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Folio_1</name>
        <label>Update Folio 1</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Debit_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Meta_Comercial__c</field>
            <value>
                <elementReference>Get_Meta_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>newOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Folio_2</name>
        <label>Update Folio 2</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Debit_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>newOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Folio_3</name>
        <label>Update Folio 3</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Get_Debit_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Meta_Comercial__c</field>
            <value>
                <elementReference>Get_Meta_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Folio_4</name>
        <label>Update Folio 4</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Get_Debit_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Meta_Comercial__c</field>
            <value>
                <elementReference>Get_Meta_3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_1</name>
        <label>Update Opp 1</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Meta_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>Services</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_2</name>
        <label>Update Opp 2</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Get_Debit_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_for__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>Services</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza la oportunidad relacionada al folio que desencadena el flujo. El propósito es actualizar el campo Debit Note, para de esa manera la oportunidad esté relacionada a la Debit Note que tenga asignada el Import-Export Quote/Order</description>
        <name>Update_Opp_Debit_Note</name>
        <label>Update Opp Debit Note</label>
        <locationX>173</locationX>
        <locationY>1775</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Import_Export_Quote_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>P2G_Opp_DebitNote__c</field>
            <value>
                <elementReference>Get_Debit_Note.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>179</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_y_meta_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved as Succesful</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quotation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <object>Customer_Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
