force-app/main/default/flows/Pantalla_Seleccion_Campana.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Guarda_Id_Campa_a</name>
        <label>Guarda Id Campaña</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Campana_Encontrada</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lista_id_campana</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Busqueda_campana_activa.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Busqueda_campana_activa</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>existe_campana_activa</name>
        <label>existe campaña activa</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Busqueda_campana_activa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Busqueda_campana_activa.Campaign.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Busqueda_campana_activa.Campaign.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Guarda_Id_Campa_a</targetReference>
            </connector>
            <label>si existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_mas_de_una_campana</name>
        <label>Existe mas de una campaña</label>
        <locationX>358</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campana_Encontrada</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Campanas</targetReference>
            </connector>
            <label>si</label>
        </rules>
        <rules>
            <name>Solo_una</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campana_Encontrada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agarrar_el_id</targetReference>
            </connector>
            <label>Solo una</label>
        </rules>
    </decisions>
    <description>Este flujo se llamara en el flujo Oleada Oportunidad, en el caso de que l cuenta de la oportunidad este en mas de una campaña.
El usuario debe seleccionar la campaña a la que quiera que pertenezca esa oportunidad</description>
    <dynamicChoiceSets>
        <name>lista_nombre_campana</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>id_Campana</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lista_Nombres</name>
        <collectionReference>Record_Campanas</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Campaign</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Pantalla Seleccion Campaña {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pantalla Seleccion Campaña</label>
    <loops>
        <name>Agarrar_el_id</name>
        <label>Agarrar el id</label>
        <locationX>402</locationX>
        <locationY>950</locationY>
        <collectionReference>lista_id_campana</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Modificar_oportunidad_una_Campana</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Busqueda_campana_activa</name>
        <label>Busqueda campaña activa</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <collectionReference>Recortd_Miembros_Campanas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>existe_campana_activa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existe_mas_de_una_campana</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Record_Campanas</name>
        <label>Record Campañas</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seleccion_de_Campana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lista_id_campana</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recortd_Miembros_Campanas</name>
        <label>Recortd Miembros Campañas</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Busqueda_campana_activa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompanyOrAccount</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recortd_Opportunity.Account.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recortd_Opportunity</name>
        <label>Recortd Opportunity</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recortd_Miembros_Campanas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOpportunity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>modificar_oportunidad</name>
        <label>modificar oportunidad</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recortd_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>lista_campanas</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Modificar_oportunidad_una_Campana</name>
        <label>Modificar oportunidad una Campaña</label>
        <locationX>490</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Agarrar_el_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recortd_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Agarrar_el_id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Seleccion_de_Campana</name>
        <label>Selección de Campaña</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>modificar_oportunidad</targetReference>
        </connector>
        <fields>
            <name>Seleccion_de_Campana_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Seleccion_de_Campana_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mensaje_de_campana</name>
                    <fieldText>&lt;p&gt;Se encontraron las siguientes campañas activas donde se encuentra la cuenta.&lt;/p&gt;&lt;p&gt;Seleccione la campaña para relacionar la oportunidad&lt;strong&gt; &lt;/strong&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;{!Recortd_Opportunity.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lista_campanas</name>
                    <choiceReferences>Lista_Nombres</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>id_Campana</elementReference>
                    </defaultValue>
                    <fieldText>lista campañas</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Seleccionar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recortd_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Campana_Encontrada</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>id_Campana</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lista_id_campana</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
