force-app/main/default/flows/PROJ_STAGE_DE_EXPLORAR_A_COTIZARv2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Email_Buy_Price</name>
        <label>Copy 1 of Email Buy Price</label>
        <locationX>1194</locationX>
        <locationY>2363</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Check_Buy_Price_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailOwnerandIC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@inteam.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opp {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SellPriceBodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Buy_Price</name>
        <label>Email Sell Price</label>
        <locationX>842</locationX>
        <locationY>2471</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailOwnerandIC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@inteam.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opp {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BuyPriceBodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_correo_a_Compras</name>
        <label>Enviar correo a Compras</label>
        <locationX>688</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>decision_etapa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>correo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@inteam.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opp {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Oportunididad {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddEmailOwner</name>
        <label>AddEmailOwner</label>
        <locationX>1018</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Usuario_IC__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>actualiza_stage_cotizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Buy_Rate_Agregado</name>
        <label>Buy Rate Agregado</label>
        <locationX>1370</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>productobuyrate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/p&gt;&lt;p&gt;    {!ciclo_productos.Ruta__c}   * Buy Price: $ {!ciclo_productos.Buy_Price__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ciclo_productos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuyPrice0</name>
        <label>BuyPrice0</label>
        <locationX>1106</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>VarCeroBuyPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ciclo_productos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_FI</name>
        <label>Correo Princing FI</label>
        <locationX>820</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>correo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FI.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FI.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_correo_a_Compras</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_FN</name>
        <label>Correo Princing FN</label>
        <locationX>556</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>correo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FN.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NombreUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FN.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_correo_a_Compras</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cuentaCero</name>
        <label>cuentaCero</label>
        <locationX>1106</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>varcero</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buy_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sell_Price_Agregado</name>
        <label>Sell Price Agregado</label>
        <locationX>1370</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>ProductoSellPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/p&gt;&lt;p&gt;    {!ciclo_productos.Ruta__c}   * Sell Price: $ {!ciclo_productos.UnitPrice}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buy_Price</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>actualiza_stage_cotizar</name>
        <label>actualiza stage cotizar</label>
        <locationX>1018</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sales_vacios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcero</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCeroBuyPrice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Buy_Price_Products_False</targetReference>
            </connector>
            <label>sales vacios</label>
        </rules>
        <rules>
            <name>Revisado_por_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revisado_por_IC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCeroBuyPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Buy_Price_Products</targetReference>
            </connector>
            <label>Revisado por IC</label>
        </rules>
        <rules>
            <name>Crear_Quote_validado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revisado_por_IC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varcero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCeroBuyPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Email_Buy_Price</targetReference>
            </connector>
            <label>Crear Quote validado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Buy_Price</name>
        <label>Buy Price</label>
        <locationX>1238</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Buy_Rate_Agregado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Buy_Price</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>ciclo_productos.Buy_Price__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ciclo_productos.Buy_Price__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ciclo_productos.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Cotizada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuyPrice0</targetReference>
            </connector>
            <label>Outcome 1 of Buy Price</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_etapa</name>
        <label>decision etapa</label>
        <locationX>886</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Explorar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospectar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requerimientos_especialesNew__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_del__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>actualiza_etapa_explorar</targetReference>
            </connector>
            <label>Explorar</label>
        </rules>
        <rules>
            <name>construir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explorar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TotalOpportunityQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualiza_etapa_construir</targetReference>
            </connector>
            <label>construir</label>
        </rules>
        <rules>
            <name>Cotizar</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Buy_Price2__c</leftValueReference>
                <operator>GreaterThan</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opptyproduct</targetReference>
            </connector>
            <label>Cotizar Sell Price</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_Nueva</name>
        <label>Oportunidad Nueva</label>
        <locationX>886</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>decision_etapa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>(1 AND 2 AND 5) or (3 AND 4 AND 5 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Usuario_IC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospectar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requerimientos_especialesNew__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_del__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usuario_FI_o_FN</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>sales_prices</name>
        <label>sales prices</label>
        <locationX>1238</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Sell_Price_Agregado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>menor_que_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ciclo_productos.UnitPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ciclo_productos.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Cotizada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cuentaCero</targetReference>
            </connector>
            <label>menor que 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_FI_o_FN</name>
        <label>Usuario FI o FN</label>
        <locationX>688</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_UserIC_FI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>FN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UserIC</targetReference>
            </connector>
            <label>FN</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BoddyEmailSellPrice</name>
        <dataType>String</dataType>
        <expression>&quot;Se agrego el Seles Price a los productos de la Oportunididad &quot;+{!FI_o_FN}+{!$Record.Name} &amp; BR() &amp; BR() &amp; &quot;Account Name: &quot; + {!$Record.Account.Name} &amp; BR() &amp; BR() &amp; &quot;Oportunidad: &quot; + {!$Record.Name} &amp; BR() &amp; BR() &amp; &quot;Owner: &quot; + {!$Record.Owner.FirstName} + &quot;  &quot; + {!$Record.Owner.LastName} &amp; BR() &amp; BR() &amp; &quot;Usuario IC: &quot; + {!$Record.Usuario_IC__r.FirstName} + &quot;  &quot; + {!$Record.Usuario_IC__r.LastName} &amp; BR() &amp; BR() &amp; &quot; &quot;</expression>
    </formulas>
    <interviewLabel>PROJ_STAGE DE EXPLORAR A COTIZARv2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROJ_STAGE DE EXPLORAR A COTIZARv2</label>
    <loops>
        <name>ciclo_productos</name>
        <label>ciclo productos</label>
        <locationX>1018</locationX>
        <locationY>1355</locationY>
        <collectionReference>opptyproduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sales_prices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddEmailOwner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_subProducto</name>
        <label>recorre subProducto</label>
        <locationX>1194</locationX>
        <locationY>3419</locationY>
        <collectionReference>Get_SubProducto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CREAR_QUOTE_LIT_SubPro</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>recorrer_productos_y_agregarlos_a_QLI</name>
        <label>recorrer productos y agregarlos a QLI</label>
        <locationX>1194</locationX>
        <locationY>3011</locationY>
        <collectionReference>Get_opptyproduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CREAR_QUOTE_LIT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SubProducto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crear_Quote</name>
        <label>crear Quote</label>
        <locationX>1194</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Get_opptyproduct</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>iddequoteRT</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREAR_QUOTE_LIT</name>
        <label>CREAR QUOTE LIT</label>
        <locationX>1282</locationX>
        <locationY>3119</locationY>
        <connector>
            <targetReference>recorrer_productos_y_agregarlos_a_QLI</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityLineItemId</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>crear_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price_Converted__c</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Sales_Price_Converted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Linea__c</field>
            <value>
                <stringValue>Flete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREAR_QUOTE_LIT_SubPro</name>
        <label>CREAR QUOTE LIT SubPro</label>
        <locationX>1282</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>recorre_subProducto</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>crear_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price_Converted__c</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Buy_Price_Converted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubProducto__c</field>
            <value>
                <elementReference>recorre_subProducto.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Linea__c</field>
            <value>
                <stringValue>Cargo Adicional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Buy_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_opptyproduct</name>
        <label>Get opptyproduct</label>
        <locationX>1194</locationX>
        <locationY>2903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorrer_productos_y_agregarlos_a_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_FI</name>
        <label>Get Princing FI</label>
        <locationX>820</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_FI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPricingFI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_FN</name>
        <label>Get Princing FN</label>
        <locationX>556</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_FN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPricingFN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SubProducto</name>
        <label>Get SubProducto</label>
        <locationX>1194</locationX>
        <locationY>3311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorre_subProducto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubProduct_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubProducto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opptyproduct</name>
        <label>opptyproduct</label>
        <locationX>1018</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ciclo_productos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualiza_etapa_construir</name>
        <label>actualiza etapa construir</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Construir</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_etapa_cotizar1</name>
        <label>actualiza etapa cotizar1</label>
        <locationX>1194</locationX>
        <locationY>2579</locationY>
        <connector>
            <targetReference>Check_Sell_Price_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cotizar</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_etapa_explorar</name>
        <label>actualiza etapa explorar</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Explorar</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Buy_Price_Products</name>
        <label>Check Buy Price Products</label>
        <locationX>842</locationX>
        <locationY>2363</locationY>
        <connector>
            <targetReference>Email_Buy_Price</targetReference>
        </connector>
        <inputAssignments>
            <field>Revisado_por_IC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Buy_Price_Products_False</name>
        <label>Check Buy Price Products False</label>
        <locationX>578</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>Revisado_por_IC__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Sell_Price_Products</name>
        <label>Check Sell Price Products</label>
        <locationX>1194</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>crear_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_Sell_Price__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Check_Buy_Price_Products</name>
        <label>Copy 1 of Check Buy Price Products</label>
        <locationX>1194</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>actualiza_etapa_cotizar1</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_Sell_Price__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_UserIC_FI</name>
        <label>Copy 1 of Update UserIC FI</label>
        <locationX>820</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_FI</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>IdPricingFI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UserIC</name>
        <label>Update UserIC FN</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_FN</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>IdPricingFN</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_Nueva</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hola {!NombreUser},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Oportunididad en cotizar &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(61, 208, 34);&quot;&gt;{!$Record.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BuyPriceBodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;********** BUY PRICE AGREGADO **********&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Se agrego el costo de Buy Price a los productos de la Oportunididad&lt;strong&gt; {!$Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Name: {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;Oportunidad: &lt;a href=&quot;{!urlopportunity}{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Owner: {!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/p&gt;&lt;p&gt;Usuario IC: {!$Record.Usuario_IC__r.FirstName} {!$Record.Usuario_IC__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Stage: {!$Record.StageName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Productos: {!productobuyrate}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SellPriceBodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;********** SELL PRICE AGREGADO **********&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Se agrego el costo del Seles Price a los productos de la Oportunididad &lt;strong&gt;{!$Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Name: {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;Oportunidad: &lt;a href=&quot;{!urlopportunity}{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Owner: {!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/p&gt;&lt;p&gt;Usuario IC: {!$Record.Usuario_IC__r.FirstName} {!$Record.Usuario_IC__r.LastName}&lt;/p&gt;&lt;p&gt;Stage: {!$Record.StageName}&lt;/p&gt;&lt;p&gt;Productos:{!ProductoSellPrice}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>correo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>correoenvia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>maria.vargas@pak2go.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>CorreoPricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailOwnerandIC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FI_o_FN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iddequoteRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012RQ0000006wB1YAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>IdPricingFI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054T0000025mv4QAA</stringValue>
        </value>
    </variables>
    <variables>
        <description>Id del usuario pricing encargado de los Fletes Nacionales</description>
        <name>IdPricingFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005RQ000000tYNdYAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>NombreUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productobuyrate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductoSellPrice</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>urlopportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://pak2gologistics.lightning.force.com/lightning/r/Opportunity/</stringValue>
        </value>
    </variables>
    <variables>
        <name>usuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varcero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarCeroBuyPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>variableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
