force-app/main/default/flows/PROJ_STAGE_DE_ENTENDIMIENTO_A_COTIZAR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_asignar_pricing</name>
        <label>Email asignar pricing</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>decision_etapa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailOwnerandIC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@inteam.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opp {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyPricing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Buy_Price</name>
        <label>Email Buy Price</label>
        <locationX>1414</locationX>
        <locationY>2771</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>get_tarea_1_cotizacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailOwnerandIC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@inteam.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opp {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BuyPriceBodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Sell_Price</name>
        <label>Email Sell Price</label>
        <locationX>1150</locationX>
        <locationY>2771</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>get_tarea_2_cotizacion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailOwnerandIC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@inteam.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opp {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SellPriceBodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddEmailOwner</name>
        <label>AddEmailOwner</label>
        <locationX>1414</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Usuario_IC__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>actualiza_stage_cotizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Buy_Rate_Agregado</name>
        <label>Buy Rate Agregado</label>
        <locationX>1766</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>productobuyrate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/p&gt;&lt;p&gt;    {!ciclo_productos.Ruta__c}   * Buy Price: $ {!ciclo_productos.Buy_Price__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Productos_sin_cotizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuyPrice0</name>
        <label>BuyPrice0</label>
        <locationX>1502</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>VarCeroBuyPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Productos_sin_cotizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>622</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>Recorre_tareas_realizadas.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Realizado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_owner</name>
        <label>Correo owner</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>maria.vargas@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>carlos.martinez@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_asignar_pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_A</name>
        <label>Correo Princing A</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_A.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_A.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>maria.vargas@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>carlos.martinez@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_asignar_pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_CE</name>
        <label>Correo Princing CE</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_CE.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_CE.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>maria.vargas@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>carlos.martinez@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_asignar_pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_FI</name>
        <label>Correo Princing FI</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FI.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FI.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>maria.vargas@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>carlos.martinez@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_asignar_pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_FN</name>
        <label>Correo Princing FN</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FN.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FN.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>maria.vargas@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>carlos.martinez@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_asignar_pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_Otros</name>
        <label>Correo Princing Otros</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_Otros.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_Otros.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>maria.vargas@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>carlos.martinez@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_asignar_pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_PTO_M_R</name>
        <label>Correo Princing PTO M R</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_PTO_M_R.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_PTO_M_R.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>maria.vargas@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailOwnerandIC</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>carlos.martinez@2gologistics.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_asignar_pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cuentaCero</name>
        <label>cuentaCero</label>
        <locationX>1502</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>varcero</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buy_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>linea_no_cotizado</name>
        <label>linea no cotizado</label>
        <locationX>1502</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>salesnocotizada</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ciclo_productos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sell_Price_Agregado</name>
        <label>Sell Price Agregado</label>
        <locationX>1766</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>ProductoSellPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/p&gt;&lt;p&gt;    {!ciclo_productos.Ruta__c}   * Buy Price: $ {!ciclo_productos.UnitPrice}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buy_Price</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>actualiza_stage_cotizar</name>
        <label>actualiza stage cotizar</label>
        <locationX>1414</locationX>
        <locationY>2555</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambio_de_etapa_negociacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>salesnocotizada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varcero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCeroBuyPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Buy_Price_Products</targetReference>
            </connector>
            <label>Cambio de etapa negociacion</label>
        </rules>
        <rules>
            <name>sales_vacios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revisado_por_IC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCeroBuyPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Buy_Price_Products</targetReference>
            </connector>
            <label>Revisado por IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Buy_Price</name>
        <label>Buy Price</label>
        <locationX>1634</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Buy_Rate_Agregado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Buy_Price</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>ciclo_productos.Buy_Price__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ciclo_productos.Buy_Price__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ciclo_productos.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Cotizada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuyPrice0</targetReference>
            </connector>
            <label>Outcome 1 of Buy Price</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_etapa</name>
        <label>decision etapa</label>
        <locationX>1370</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cotizacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entendimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TotalOpportunityQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_etapa_Cotizacion</targetReference>
            </connector>
            <label>Cotizaci贸n</label>
        </rules>
        <rules>
            <name>Negociacion</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cotizaci贸n</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Buy_Price2__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-PQ-PAQUETERIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opptyproduct</targetReference>
            </connector>
            <label>Negociaci贸n</label>
        </rules>
        <rules>
            <name>Ganada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_IEQO_Creados__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ejecuci贸n</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_etapa_Ganada</targetReference>
            </connector>
            <label>Ganada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_Nueva</name>
        <label>Oportunidad Nueva</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>decision_etapa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Usuario_IC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usuario_FI_o_FN</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Producto_Cotizado</name>
        <label>Producto Cotizado</label>
        <locationX>1370</locationX>
        <locationY>3527</locationY>
        <defaultConnector>
            <targetReference>recorrer_productos_y_agregarlos_a_QLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Producto_listo_para_Cotizar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recorrer_productos_y_agregarlos_a_QLI.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cotizada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREAR_QUOTE_LIT</targetReference>
            </connector>
            <label>Producto listo para Cotizar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Productos_sin_cotizar</name>
        <label>Productos sin cotizar</label>
        <locationX>1634</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>ciclo_productos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Producto_no_cotizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ciclo_productos.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cotizada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ciclo_productos.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Cotizada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>linea_no_cotizado</targetReference>
            </connector>
            <label>Producto no cotizado</label>
        </rules>
    </decisions>
    <decisions>
        <name>sales_prices</name>
        <label>sales prices</label>
        <locationX>1634</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Sell_Price_Agregado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>menor_que_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ciclo_productos.UnitPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ciclo_productos.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Cotizada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cuentaCero</targetReference>
            </connector>
            <label>menor que 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_FI_o_FN</name>
        <label>Usuario FI o FN</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Actualizar_usuario_Otros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros</defaultConnectorLabel>
        <rules>
            <name>FN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_usuario_FN</targetReference>
            </connector>
            <label>FN</label>
        </rules>
        <rules>
            <name>PQ_T_WH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-PQ-PAQUETERIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-T-CONSOLIDADO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-WH-ALMACENAJE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correo_owner</targetReference>
            </connector>
            <label>PQ T WH</label>
        </rules>
        <rules>
            <name>PTO_M_R</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-PTO-PUERTOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-M-MARITIMO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-R-GLOBAL ROUTING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_usuario_PTO_M_R</targetReference>
            </connector>
            <label>PTO M R</label>
        </rules>
        <rules>
            <name>FI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-FI-FLETE INTER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_usuario_FI</targetReference>
            </connector>
            <label>FI</label>
        </rules>
        <rules>
            <name>CE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-CE-COMERCIO EXT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_usuario_CE</targetReference>
            </connector>
            <label>CE</label>
        </rules>
        <rules>
            <name>A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-A-AEREO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_usuario_A</targetReference>
            </connector>
            <label>A</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PROJ_STAGE DE EXPLORAR A COTIZAR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROJ_STAGE DE EXPLORAR A COTIZAR</label>
    <loops>
        <name>ciclo_productos</name>
        <label>ciclo productos</label>
        <locationX>1414</locationX>
        <locationY>1355</locationY>
        <collectionReference>opptyproduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sales_prices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddEmailOwner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_subProducto</name>
        <label>recorre subProducto</label>
        <locationX>1150</locationX>
        <locationY>4019</locationY>
        <collectionReference>Get_SubProducto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CREAR_QUOTE_LIT_SubPro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tarea_1_Negociacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorre_tareas_realizadas</name>
        <label>Recorre tareas realizadas</label>
        <locationX>534</locationX>
        <locationY>1463</locationY>
        <collectionReference>Get_Tareas_Realizadas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tarea_1_Cotizacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorrer_productos_y_agregarlos_a_QLI</name>
        <label>recorrer productos y agregarlos a QLI</label>
        <locationX>1150</locationX>
        <locationY>3419</locationY>
        <collectionReference>Get_opptyproduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Producto_Cotizado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SubProducto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crear_Quote</name>
        <label>crear Quote</label>
        <locationX>1150</locationX>
        <locationY>3203</locationY>
        <connector>
            <targetReference>Get_opptyproduct</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012RQ0000006wB1YAI</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREAR_QUOTE_LIT</name>
        <label>CREAR QUOTE LIT</label>
        <locationX>1238</locationX>
        <locationY>3635</locationY>
        <connector>
            <targetReference>recorrer_productos_y_agregarlos_a_QLI</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityLineItemId</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>crear_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price_Converted__c</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Sales_Price_Converted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Linea__c</field>
            <value>
                <stringValue>Flete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREAR_QUOTE_LIT_SubPro</name>
        <label>CREAR QUOTE LIT SubPro</label>
        <locationX>1238</locationX>
        <locationY>4127</locationY>
        <connector>
            <targetReference>recorre_subProducto</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>crear_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price_Converted__c</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Sell_Price_Converted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubProducto__c</field>
            <value>
                <elementReference>recorre_subProducto.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Linea__c</field>
            <value>
                <stringValue>Cargo Adicional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Sell_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_1_Cotizacion</name>
        <label>Tarea 1 Cotizacion</label>
        <locationX>534</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Tarea_2_Cotizacion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Cotizar productos en campo Buy Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_1_Negociacion</name>
        <label>Tarea 1 Negociacion</label>
        <locationX>1150</locationX>
        <locationY>4319</locationY>
        <connector>
            <targetReference>Tarea_2_Negociacion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Generar PDF en Quote/Presupuesto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_2_Cotizacion</name>
        <label>Tarea 2 Cotizacion</label>
        <locationX>534</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Cotizar productos en campo Sell Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_2_Negociacion</name>
        <label>Tarea 2 Negociacion</label>
        <locationX>1150</locationX>
        <locationY>4427</locationY>
        <connector>
            <targetReference>Tarea_3_Negociacion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Enviar PDF a Cliente en Quote/Presupuesto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_3_Negociacion</name>
        <label>Tarea 3 Negociacion</label>
        <locationX>1150</locationX>
        <locationY>4535</locationY>
        <connector>
            <targetReference>Tarea_4_Negociacion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Comienza negociaci贸n con el cliente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_4_Negociacion</name>
        <label>Tarea 4 Negociacion</label>
        <locationX>1150</locationX>
        <locationY>4643</locationY>
        <connector>
            <targetReference>Tarea_5_Negociacion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Aceptar la Quote/Presupuesto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_5_Negociacion</name>
        <label>Tarea 5 Negociacion</label>
        <locationX>1150</locationX>
        <locationY>4751</locationY>
        <connector>
            <targetReference>Tarea_6_Negociacion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Iniciar Sincronizaci贸n en Quote/Presupuesto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_6_Negociacion</name>
        <label>Tarea 6 Negociacion</label>
        <locationX>1150</locationX>
        <locationY>4859</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Realizaci贸n de Kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_opptyproduct</name>
        <label>Get opptyproduct</label>
        <locationX>1150</locationX>
        <locationY>3311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorrer_productos_y_agregarlos_a_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_A</name>
        <label>Get Princing A</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_A</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricingA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_CE</name>
        <label>Get Princing CE</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_CE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricingCE</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_FI</name>
        <label>Get Princing FI</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_FI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricingFI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_FN</name>
        <label>Get Princing FN</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_FN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricingFN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_Otros</name>
        <label>Get Princing Otros</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_Otros</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricingOtros</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_PTO_M_R</name>
        <label>Get Princing PTO M R</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_PTO_M_R</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricingPTO_M_R</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SubProducto</name>
        <label>Get SubProducto</label>
        <locationX>1150</locationX>
        <locationY>3911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorre_subProducto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubProduct_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubProducto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_tarea_1_cotizacion</name>
        <label>get tarea 1 cotizacion</label>
        <locationX>1414</locationX>
        <locationY>2879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Realizado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cotizar productos en campo Buy Price</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_tarea_2_cotizacion</name>
        <label>get tarea 2 cotizacion</label>
        <locationX>1150</locationX>
        <locationY>2879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_tarea_2_cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cotizar productos en campo Sell Price</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tareas_Realizadas</name>
        <label>Get Tareas Realizadas</label>
        <locationX>534</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorre_tareas_realizadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opptyproduct</name>
        <label>opptyproduct</label>
        <locationX>1414</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ciclo_productos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualiza_etapa_a_negociacion</name>
        <label>actualiza etapa a negociacion</label>
        <locationX>1150</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>crear_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Time_Negociacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Negociaci贸n</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_etapa_Cotizacion</name>
        <label>Actualiza etapa Cotizaci贸n</label>
        <locationX>534</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Get_Tareas_Realizadas</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Time_Cotizacion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cotizaci贸n</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_etapa_Ganada</name>
        <label>Actualiza etapa Ganada</label>
        <locationX>1942</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Data_Time_Ganada__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Ganada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_tarea_2_cotizacion</name>
        <label>Actualizar tarea 2 cotizacion</label>
        <locationX>1150</locationX>
        <locationY>2987</locationY>
        <connector>
            <targetReference>actualiza_etapa_a_negociacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_tarea_2_cotizacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_usuario_A</name>
        <label>Actualizar usuario A</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_A</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>pricingA</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_usuario_CE</name>
        <label>Actualizar usuario CE</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_CE</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>pricingCE</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_usuario_FI</name>
        <label>Actualizar usuario FI</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_FI</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>pricingFI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_usuario_FN</name>
        <label>Actualizar usuario FN</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_FN</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>pricingFN</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_usuario_Otros</name>
        <label>Actualizar usuario Otros</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_Otros</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>pricingOtros</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_usuario_PTO_M_R</name>
        <label>Actualizar usuario PTO M R</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_PTO_M_R</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>pricingPTO_M_R</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Buy_Price_Products</name>
        <label>Check Buy Price Products</label>
        <locationX>1414</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Email_Buy_Price</targetReference>
        </connector>
        <inputAssignments>
            <field>Revisado_por_IC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Realizado</name>
        <label>Check Realizado</label>
        <locationX>622</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Recorre_tareas_realizadas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorre_tareas_realizadas.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Check_Buy_Price_Products</name>
        <label>Copy 1 of Check Buy Price Products</label>
        <locationX>1150</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Email_Sell_Price</targetReference>
        </connector>
        <inputAssignments>
            <field>Revisado_por_IC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Check_Realizado</name>
        <label>Actualizar tarea 1 cotizacion</label>
        <locationX>1414</locationX>
        <locationY>2987</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_tarea_1_cotizacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_Nueva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124T000000Q3hUQAS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyPricing</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;********** SOLICITUD DE COTIZACIN **********&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Oportunidad creada &lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt; {!$Record.Name} &lt;/strong&gt;con productos pendientes por cotizar&lt;/p&gt;&lt;p&gt;Account Name: {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;Oportunidad:&lt;a href=&quot;{!urlOportunidad}{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; {!$Record.Name} &lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Owner: {!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Usuario IC: {!$Record.Usuario_IC__r.FirstName} {!$Record.Usuario_IC__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Stage: {!$Record.StageName}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BuyPriceBodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;********** BUY PRICE AGREGADO **********&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Se agrego el costo de Buy Price a los productos de la Oportunididad&lt;strong&gt; {!$Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Name: {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;Oportunidad: &lt;a href=&quot;{!urlOportunidad}{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Owner: {!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/p&gt;&lt;p&gt;Usuario IC: {!$Record.Usuario_IC__r.FirstName} {!$Record.Usuario_IC__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Stage: {!$Record.StageName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Productos: {!productobuyrate}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SellPriceBodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;********** SELL PRICE AGREGADO **********&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Se agrego el costo del Seles Price a los productos de la Oportunididad &lt;strong&gt;{!$Record.Name}&lt;/strong&gt;, y se paso a la etapa de Negociaci贸n.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Name: {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;Oportunidad: &lt;a href=&quot;{!urlOportunidad}{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Owner: {!$Record.Owner.FirstName} {!$Record.Owner.LastName}&lt;/p&gt;&lt;p&gt;Usuario IC: {!$Record.Usuario_IC__r.FirstName} {!$Record.Usuario_IC__r.LastName}&lt;/p&gt;&lt;p&gt;Stage: {!$Record.StageName}&lt;/p&gt;&lt;p&gt;Productos:{!ProductoSellPrice}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>correo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>maria.ramirez@pak2go.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>correoenvia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>maria.ramirez@pak2go.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>correoOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Owner.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>CorreoUserIC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailOwnerandIC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FI_o_FN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iddequoteRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0120R000003lkxpQAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>pricingA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054T000000cUdiQAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>pricingCE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005RQ000002TyhBYAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>pricingFI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005RQ000002ZWa9YAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>pricingFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005RQ000000tYNdYAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>pricingOtros</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054T0000025mv4QAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>pricingPTO_M_R</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005RQ000002hMNVYA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>productobuyrate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductoSellPrice</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesnocotizada</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>urlOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://pak2gologistics.lightning.force.com/lightning/r/Opportunity/</stringValue>
        </value>
    </variables>
    <variables>
        <name>usuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varcero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarCeroBuyPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>variableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
