force-app/main/default/flows/PROJ_ActualizaPSVenta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sumaTotalAmount</name>
        <label>sumaTotalAmount</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <actionName>P2G_tiempoTranscurridoOppo</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idOppo</name>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>P2G_tiempoTranscurridoOppo</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>margen_AER</name>
        <label>margen AER</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>precioMargen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>metadata_margenes.Margen_AER__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizaPSVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>margen_MAR</name>
        <label>margen MAR</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>precioMargen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>metadata_margenes.Margen_MAR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizaPSVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>margen_Otros</name>
        <label>margen Otros</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>precioMargen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>metadata_margenes.Margen_Otros__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizaPSVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>margen_PUE</name>
        <label>margen PUE</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>precioMargen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>metadata_margenes.Margen_PUE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizaPSVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>margen_TIN</name>
        <label>margen TIN</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>precioMargen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>metadata_margenes.Margen_TIN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizaPSVenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>margen_TNA</name>
        <label>margen TNA</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>precioMargen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>metadata_margenes.Margen_TNA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizaPSVenta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Margen_Setvicio</name>
        <label>Margen Setvicio</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>margen_Otros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-FN-FLETE NACIONAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>margen_TNA</targetReference>
            </connector>
            <label>TNA</label>
        </rules>
        <rules>
            <name>TIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-FI-FLETE INTER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>margen_TIN</targetReference>
            </connector>
            <label>TIN</label>
        </rules>
        <rules>
            <name>MAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-M-MARITIMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>margen_MAR</targetReference>
            </connector>
            <label>MAR</label>
        </rules>
        <rules>
            <name>PER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-PTO-PUERTOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>margen_PUE</targetReference>
            </connector>
            <label>PUE</label>
        </rules>
        <rules>
            <name>AER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP-A-AEREO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>margen_AER</targetReference>
            </connector>
            <label>AER</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>preciocalculado</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Buy_Price__c} * {!precioMargen}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Precio_Sugerido_Venta__c} * {!$Record.Quantity} * {!tipoFrecuencia}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PROJ_ActualizaPSVenta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROJ_ActualizaPSVenta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>metadata_margenes</name>
        <label>metadata margenes</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Margen_Setvicio</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Margen_Servicio__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_oppty_product</name>
        <label>obtiene oppty product</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>metadata_margenes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizaPSVenta</name>
        <label>ActualizaPSVenta</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>sumaTotalAmount</targetReference>
        </connector>
        <inputAssignments>
            <field>Precio_Sugerido_Venta__c</field>
            <value>
                <elementReference>preciocalculado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtiene_oppty_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Buy_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>precioMargen</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>tipoFrecuencia</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
