force-app/main/default/flows/PROJ_STAGE_DE_EXPLORAR_A_COTIZAR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_correo_a_Compras</name>
        <label>Enviar correo a Compras</label>
        <locationX>512</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>decision_etapa</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CorreoUserIC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@inteam.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opp {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Oportunididad en cotizar {!FI_o_FN} {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Correo_Princing_FI</name>
        <label>Correo Princing FI</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FI.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_correo_a_Compras</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correo_Princing_FN</name>
        <label>Correo Princing FN</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CorreoUserIC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Princing_FN.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FI_o_FN</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enviar_correo_a_Compras</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cuentaCero</name>
        <label>cuentaCero</label>
        <locationX>1018</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>varcero</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ciclo_productos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>actualiza_stage_cotizar</name>
        <label>actualiza stage cotizar</label>
        <locationX>930</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>actualiza_etapa_cotizar1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sales_vacios</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcero</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>sales vacios</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_etapa</name>
        <label>decision etapa</label>
        <locationX>710</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Explorar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospectar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_del__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requerimientos_especialesNew__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>actualiza_etapa_explorar</targetReference>
            </connector>
            <label>Explorar</label>
        </rules>
        <rules>
            <name>construir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Explorar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TotalOpportunityQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualiza_etapa_construir</targetReference>
            </connector>
            <label>construir</label>
        </rules>
        <rules>
            <name>Cotizar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opptyproduct</targetReference>
            </connector>
            <label>Cotizar</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_Nueva</name>
        <label>Oportunidad Nueva</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>decision_etapa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>(1 AND 2 AND 5) or (3 AND 4 AND 5 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Usuario_IC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospectar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requerimientos_especialesNew__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_del__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usuario_FI_o_FN</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>sales_prices</name>
        <label>sales prices</label>
        <locationX>1150</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>ciclo_productos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>menor_que_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ciclo_productos.UnitPrice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cuentaCero</targetReference>
            </connector>
            <label>menor que 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_FI_o_FN</name>
        <label>Usuario FI o FN</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Actualizar_usuario_FI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FI</defaultConnectorLabel>
        <rules>
            <name>FN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_usuario_FN</targetReference>
            </connector>
            <label>FN</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PROJ_STAGE DE EXPLORAR A COTIZAR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROJ_STAGE DE EXPLORAR A COTIZAR</label>
    <loops>
        <name>ciclo_productos</name>
        <label>ciclo productos</label>
        <locationX>930</locationX>
        <locationY>1355</locationY>
        <collectionReference>opptyproduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sales_prices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>actualiza_stage_cotizar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_subProducto</name>
        <label>recorre subProducto</label>
        <locationX>1106</locationX>
        <locationY>2687</locationY>
        <collectionReference>Get_SubProducto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CREAR_QUOTE_LIT_SubPro</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>recorrer_productos_y_agregarlos_a_QLI</name>
        <label>recorrer productos y agregarlos a QLI</label>
        <locationX>1106</locationX>
        <locationY>2279</locationY>
        <collectionReference>Get_opptyproduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CREAR_QUOTE_LIT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SubProducto</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>crear_Quote</name>
        <label>crear Quote</label>
        <locationX>1106</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Get_opptyproduct</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>iddequoteRT</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREAR_QUOTE_LIT</name>
        <label>CREAR QUOTE LIT</label>
        <locationX>1194</locationX>
        <locationY>2387</locationY>
        <connector>
            <targetReference>recorrer_productos_y_agregarlos_a_QLI</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityLineItemId</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>crear_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price_Converted__c</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.Sales_Price_Converted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Linea__c</field>
            <value>
                <stringValue>Flete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>recorrer_productos_y_agregarlos_a_QLI.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREAR_QUOTE_LIT_SubPro</name>
        <label>CREAR QUOTE LIT SubPro</label>
        <locationX>1194</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>recorre_subProducto</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Opportunity_Product__r.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>crear_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Price_Converted__c</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Buy_Price_Converted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubProducto__c</field>
            <value>
                <elementReference>recorre_subProducto.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Linea__c</field>
            <value>
                <stringValue>Cargo Adicional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>recorre_subProducto.SubProduct_Buy_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_opptyproduct</name>
        <label>Get opptyproduct</label>
        <locationX>1106</locationX>
        <locationY>2171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorrer_productos_y_agregarlos_a_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_FI</name>
        <label>Get Princing FI</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_FI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserFI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Princing_FN</name>
        <label>Get Princing FN</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correo_Princing_FN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserFN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SubProducto</name>
        <label>Get SubProducto</label>
        <locationX>1106</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorre_subProducto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubProduct_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubProducto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>opptyproduct</name>
        <label>opptyproduct</label>
        <locationX>930</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ciclo_productos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualiza_etapa_construir</name>
        <label>Actualiza etapa construir</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Construir</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_etapa_cotizar1</name>
        <label>actualiza etapa cotizar1</label>
        <locationX>1106</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>crear_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cotizar</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>actualiza_etapa_explorar</name>
        <label>actualiza etapa explorar</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Explorar</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_usuario_FI</name>
        <label>Actualizar usuario FI</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_FI</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>UserFI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_usuario_FN</name>
        <label>Actualizar usuario FN</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Princing_FN</targetReference>
        </connector>
        <inputAssignments>
            <field>Usuario_IC__c</field>
            <value>
                <elementReference>UserFN</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Oportunidad_Nueva</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>correo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>maria.ramirez@pak2go.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>correoenvia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>maria.ramirez@pak2go.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>CorreoUserIC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FI_o_FN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iddequoteRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012RQ0000006wB1YAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserFI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054T0000025mv4QAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserFN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005RQ000000tYNdYAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>usuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varcero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>variableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
