force-app/main/default/flows/PROJ_STAGE_EJECUCION.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sincronizar_con_oportunidad</name>
        <label>Sincronizar con oportunidad</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <actionName>P2G_sincrinizarConOppoProduct</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newQuotes</name>
            <value>
                <elementReference>obtiene_valores_de_quote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>P2G_sincrinizarConOppoProduct</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>cuenta_registros</name>
        <label>cuenta registros</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>cuentaPDFencontrados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorrer_registros_de_PDF</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Desactivar_vendido</name>
        <label>Desactivar vendido</label>
        <locationX>1040</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Se_envio_PDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtiene_valores_de_quote.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtiene_valores_de_quote.CUENTA_PDF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtiene_valores_de_quote.Vendido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contar_pdf_relacionado</targetReference>
            </connector>
            <label>Se envio PDF</label>
        </rules>
        <rules>
            <name>Actualizar_quote_vendido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtiene_valores_de_quote.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtiene_valores_de_quote.Vendido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtiene_valores_de_quote.PDF_Enviado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hacer_check_vendido</targetReference>
            </connector>
            <label>Actualizar quote vendido</label>
        </rules>
        <rules>
            <name>actualizar_tareas_de_aceptado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>obtiene_valores_de_quote.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtiene_valores_de_quote.Vendido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desacer_vendido</targetReference>
            </connector>
            <label>actualizar tareas de aceptado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esta_aceptada</name>
        <label>Esta aceptada</label>
        <locationX>2030</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Recorrer_OLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aceptada_por_el_cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_OLI.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recorrer_QLI.OpportunityLineItemId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Aceptada</targetReference>
            </connector>
            <label>Aceptada por el cliente</label>
        </rules>
    </decisions>
    <decisions>
        <name>se_envio_el_PDF</name>
        <label>se envio el PDF</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cuentaPDFencontrados</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_PDF_enviado</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PROJ-STAGE EJECUCION {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROJ-STAGE EJECUCION</label>
    <loops>
        <name>Recorrer_OLI</name>
        <label>Recorrer OLI</label>
        <locationX>1810</locationX>
        <locationY>971</locationY>
        <collectionReference>Obtener_OLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Esta_aceptada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_QLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_QLI</name>
        <label>Recorrer QLI</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <collectionReference>Obtener_QLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recorrer_OLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_tarea_3_negociacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorrer_registros_de_PDF</name>
        <label>recorrer registros de PDF</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <collectionReference>contar_pdf_relacionado</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>cuenta_registros</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_tarea_1_negociacion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>contar_pdf_relacionado</name>
        <label>contar pdf relacionado</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorrer_registros_de_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_tarea_1_negociacion</name>
        <label>get tarea 1 negociacion</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizar_tarea_1_negociacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generar PDF en Quote/Presupuesto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_tarea_2_negociacion</name>
        <label>get tarea 2 negociacion</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizar_tarea_2_negociacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enviar PDF a Cliente en Quote/Presupuesto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_tarea_3_negociacion</name>
        <label>get tarea 3 negociacion</label>
        <locationX>1370</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizar_tarea_3_negociacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Comienza negociación con el cliente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_tarea_4_negociacion</name>
        <label>get tarea 4 negociacion</label>
        <locationX>1370</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualizar_tarea_4_negociacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aceptar la Quote/Presupuesto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener los productos de las oportunidades</description>
        <name>Obtener_OLI</name>
        <label>Obtener OLI</label>
        <locationX>1040</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Desactivar_vendido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_QLI</name>
        <label>Obtener QLI</label>
        <locationX>1040</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtiene_valores_de_quote</name>
        <label>obtiene valores de quote</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualizar_tarea_1_negociacion</name>
        <label>actualizar tarea 1 negociacion</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>se_envio_el_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_tarea_1_negociacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizar_tarea_2_negociacion</name>
        <label>actualizar tarea 2 negociacion</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_tarea_2_negociacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizar_tarea_3_negociacion</name>
        <label>actualizar tarea 3 negociacion</label>
        <locationX>1370</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>get_tarea_4_negociacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_tarea_3_negociacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>actualizar_tarea_4_negociacion</name>
        <label>actualizar tarea 4 negociacion</label>
        <locationX>1370</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_tarea_4_negociacion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>check_PDF_enviado</name>
        <label>check PDF enviado</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>get_tarea_2_negociacion</targetReference>
        </connector>
        <inputAssignments>
            <field>PDF_Enviado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Desacer_vendido</name>
        <label>Desacer vendido</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Sincronizar_con_oportunidad</targetReference>
        </connector>
        <inputAssignments>
            <field>Vendido__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>hacer_check_vendido</name>
        <label>hacer check vendido</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Recorrer_QLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Vendido__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Aceptada</name>
        <label>Update Aceptada</label>
        <locationX>1898</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Recorrer_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recorrer_OLI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aceptada</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtiene_valores_de_quote</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cuentaPDFencontrados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
