force-app/main/default/flows/Send_Survey_Clientes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Encuesta1</name>
        <label>Email Encuesta</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.NEU_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@pak2go.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>IdUsusarioconfirmarEnvioEncuesta</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XRQ000001Gtkj2AC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Dias_10_al_13</name>
        <label>Dias 10 al 13</label>
        <locationX>479</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FechaFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FechaInicial</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaFormula</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FechaMaximo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lunes_o_Viernes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lunes_13</name>
        <label>Lunes 13</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Email_Encuesta1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lunes13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lunes_o_Viernes</name>
        <label>Lunes o Viernes</label>
        <locationX>248</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LunesoViernesFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lunes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LunesoViernesFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viernes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lunes_13</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Shipment operado el mes pasado encontrado</description>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>726</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dias_10_al_13</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Envio automatizado de Encuesta - Clientes</description>
    <environments>Default</environments>
    <formulas>
        <name>Body_Formua</name>
        <dataType>String</dataType>
        <expression>&quot;Encuesta 2Go Logistics&quot; &amp; BR() &amp; 
&quot;Tu respuesta a la encuesta es muy importante para nosotros&quot; &amp; BR() &amp; 
&quot;https://pak2gologistics.my.site.com/2GoEncuesta/survey/runtimeApp.app?invitationId=0KiRQ000000WYZe&amp;surveyName=encuesta_de_servicio_2go_logistics&amp;UUID=e5da9f11-3d0e-4fd2-a28d-79853a447c6c&quot; &amp; BR() &amp; 
&quot;¡Gracias!&quot;</expression>
    </formulas>
    <formulas>
        <name>DiaPrimeroMesAnterior</name>
        <dataType>Date</dataType>
        <expression>DATE(2024,(MONTH(TODAY())-1),1)</expression>
    </formulas>
    <formulas>
        <name>DiaUltimoMesAnterior</name>
        <dataType>Date</dataType>
        <expression>TODAY() - (DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>FechaFormula</name>
        <dataType>Number</dataType>
        <expression>DAY(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Lunes13</name>
        <dataType>String</dataType>
        <expression>IF(
    WEEKDAY(TODAY()) = 2,
    &quot;True&quot;,
    &quot;False&quot;
)</expression>
    </formulas>
    <formulas>
        <name>LunesoViernesFormula</name>
        <dataType>String</dataType>
        <expression>CASE(
  MOD(TODAY() + 1 - DATE(1985,6,24), 7),
  0, &apos;Domingo&apos;,
  1, &apos;Lunes&apos;,
  2, &apos;Martes&apos;,
  3, &apos;Miércoles&apos;,
  4, &apos;Jueves&apos;,
  5, &apos;Viernes&apos;,
  6, &apos;Sábado&apos;,
  &apos;Otro&apos;
)</expression>
    </formulas>
    <interviewLabel>Send Survey - Clientes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Survey - Clientes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shipment</name>
        <label>Get Shipment</label>
        <locationX>726</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 AND 4) AND (5 OR 6) AND (7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>ETD_from_Point_of_Load__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>DiaPrimeroMesAnterior</elementReference>
            </value>
        </filters>
        <filters>
            <field>ETD_from_Point_of_Load__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>DiaUltimoMesAnterior</elementReference>
            </value>
        </filters>
        <filters>
            <field>ETA_Point_of_Discharge__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>DiaPrimeroMesAnterior</elementReference>
            </value>
        </filters>
        <filters>
            <field>ETA_Point_of_Discharge__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>DiaUltimoMesAnterior</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Plann__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Plann__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Mon__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned_M</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Mon__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery on Route_M</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Mon__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finished_M</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>600</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActiveSap__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAX_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-31</startDate>
            <startTime>14:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Encuesta Body&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Dia1delmes</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>DiaPrimeroMesAnterior</elementReference>
        </value>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaInicial</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FechaMaximo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IdsAccount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsShipment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
    <variables>
        <name>IdUsusarioconfirmarEnvioEncuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005RQ000000yysXYAQ</stringValue>
        </value>
    </variables>
</Flow>
