force-app/main/default/flows/Send_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Email_Encuesta</name>
        <label>Copy 1 of Email Encuesta</label>
        <locationX>314</locationX>
        <locationY>1392</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>0054T000001j46KQAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Encuesta1</name>
        <label>Email Encuesta</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Accounts.NEU_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Encuesta 2GoLogistics</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTemplate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Account</name>
        <label>Account - Email Enviado</label>
        <locationX>578</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>IdsAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cuenta_ya_encontrada</name>
        <label>Encuesta Enviada</label>
        <locationX>490</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Email_Encuesta1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdsAccount</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Accounts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dias_10_al_13</name>
        <label>Dias 10 al 13</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FechaFormula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FechaInicial</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaFormula</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FechaMaximo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lunes_o_Viernes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lunes_13</name>
        <label>Lunes 13</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Get_Shipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lunes13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FechaFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lunes_o_Viernes</name>
        <label>Lunes o Viernes</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LunesoViernesFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lunes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LunesoViernesFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viernes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lunes_13</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Version para realizar pruebas con varlo de entrada cualquier fecha</description>
    <environments>Default</environments>
    <formulas>
        <name>BodyFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Encuesta 2Go Logistics&quot; &amp; BR() &amp; 
&quot;Tu respuesta a la encuesta es muy importante para nosotros&quot; &amp; BR() &amp; 
&quot;https://pak2gologistics.my.site.com/2GoEncuesta/survey/runtimeApp.app?invitationId=0KiRQ000000WYZe&amp;surveyName=encuesta_de_servicio_2go_logistics&amp;UUID=e5da9f11-3d0e-4fd2-a28d-79853a447c6c&quot; &amp; BR() &amp; 
&quot;¡Gracias!&quot;</expression>
    </formulas>
    <formulas>
        <name>DiaPrimeroMesAnterior</name>
        <dataType>Date</dataType>
        <expression>DATE(2024,(MONTH(TODAY())-1),1)</expression>
    </formulas>
    <formulas>
        <name>DiaUltimoMesAnterior</name>
        <dataType>Date</dataType>
        <expression>TODAY() - (DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>FechaFormula</name>
        <dataType>Number</dataType>
        <expression>DAY({!FechaToDay})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Lunes13</name>
        <dataType>String</dataType>
        <expression>IF(
    WEEKDAY({!FechaToDay}) = 2,
    &quot;True&quot;,
    &quot;False&quot;
)</expression>
    </formulas>
    <formulas>
        <name>LunesoViernesFormula</name>
        <dataType>String</dataType>
        <expression>CASE(
  MOD({!FechaToDay} + 1 - DATE(1985,6,24), 7),
  0, &apos;Domingo&apos;,
  1, &apos;Lunes&apos;,
  2, &apos;Martes&apos;,
  3, &apos;Miércoles&apos;,
  4, &apos;Jueves&apos;,
  5, &apos;Viernes&apos;,
  6, &apos;Sábado&apos;,
  &apos;Otro&apos;
)</expression>
    </formulas>
    <interviewLabel>Send Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Survey - Test</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Shipment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Email_Encuesta</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Accounts</name>
        <label>Accounts</label>
        <locationX>490</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cuenta_ya_encontrada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Account_for__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment</name>
        <label>Get Shipment</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SP-FN-24-000465</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SP-FN-23-001098</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SP-FN-24-000462</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SP-FN-24-000459</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SP-FI-22-000014</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dias_10_al_13</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-31</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>BodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Encuesta Body&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Dia1delmes</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>DiaPrimeroMesAnterior</elementReference>
        </value>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FechaInicial</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FechaMaximo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FechaToDay</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <dateValue>2025-01-13</dateValue>
        </value>
    </variables>
    <variables>
        <name>IdsAccount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdsShipment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment__c</objectType>
    </variables>
</Flow>
