force-app/main/default/flows/Shipment_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Con_Carrier</name>
        <label>Sin Carrier</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ServiceRateConCarrier</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameServiceLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Service_Rate_Carrier.Service_Rate_Name__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pasa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pasa</name>
        <label>Pasa</label>
        <locationX>622</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Paso</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Rate_Carrier</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>error</name>
        <label>error</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <customErrorMessages>
            <errorMessage>No se puede confirmar el Shipment {!$Record.Name} ya que la Service Line realacionada al Shipment no tiene Carrier - Revisar &quot;{!NameServiceLine}&quot;</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error2</name>
        <label>Error2</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <customErrorMessages>
            <errorMessage>No se puede confirmar el Shipment {!$Record.Name} ya que no tiene Service Line realacionadas.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decision_Error</name>
        <label>Decision Error</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SinServiceLine1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Paso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceRateConCarrier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error2</targetReference>
            </connector>
            <label>Sin Service Line</label>
        </rules>
        <rules>
            <name>Si_Carierr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceRateConCarrier</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Paso</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error</targetReference>
            </connector>
            <label>Si Carierr</label>
        </rules>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Service_Rate_Carrier</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Paso</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Rate_Con_Carrier</name>
        <label>Service Rate Con Carrier</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Con_Carrier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Service_Rate_Carrier.Service_Rate_Name__r.Carrier_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Pasa</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipment_update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment_updateServiceLine</label>
    <loops>
        <name>Loop_Service_Rate_Carrier</name>
        <label>Loop Service Rate Carrier</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <collectionReference>Service_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Service_Rate_Con_Carrier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Error</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Service_Line</name>
        <label>Service Line</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service_Rate_Carrier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment_Fee_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Line</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Shipment_Status_Plann__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Status_Plann__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>WH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <object>Shipment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NameServiceLine</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ServiceRateConCarrier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
