force-app/main/default/flows/SP_Notificacion_cambios_Sell_Net_Amount_y_Buy_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Alerta de email para los servicios FN</description>
        <name>Email_Alert_FN_1</name>
        <label>Email Alert FN</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BuyAmount_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddressesFN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@pak2go.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cambios en el campo Buy Amount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Alerta de email para los servicios FN</description>
        <name>Email_Alert_FN_2</name>
        <label>Email Alert FN</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SellNetAmount_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddressesFN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@pak2go.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cambios en el campo Sell Net Amount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Alerta de email para los servicios INTER</description>
        <name>Email_Alert_INTER_1</name>
        <label>Email Alert INTER</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BuyAmount_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddressesINTER</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@pak2go.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cambios en el campo Buy Amount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Alerta de email para los servicios INTER</description>
        <name>Email_Alert_INTER_2</name>
        <label>Email Alert INTER</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SellNetAmount_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddressesINTER</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@pak2go.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cambios en el campo Sell Net Amount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Asigna los correos para servicios FN</description>
        <name>EmailFN_1</name>
        <label>Email FN</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>emailAddressesFN</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressesFN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Vendedor.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressesFN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Gerente_Comercial_FN.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_FN_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna los correos para servicios FN</description>
        <name>EmailFN_2</name>
        <label>Email FN</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>emailAddressesFN</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressesFN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Planner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressesFN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Gerente_Operaciones_FN.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_FN_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna los correos para servicios INTER</description>
        <name>EmailINTER_1</name>
        <label>Email INTER</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>emailAddressesINTER</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressesINTER</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Vendedor.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressesINTER</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Gerente_Comercial_INTER.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_INTER_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna los correos para servicios INTER</description>
        <name>EmailINTER_2</name>
        <label>Email INTER</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>emailAddressesINTER</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressesINTER</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Planner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddressesINTER</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Gerente_Operaciones_INTER.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_INTER_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Detecta si es un servicio NACIONAL o INTERNACIONAL</description>
        <name>NACIONAL_INTERNACIONAL_1</name>
        <label>NACIONAL/INTERNACIONAL</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NACIONAL_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.FolioResume__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gerente_Comercial_FN</targetReference>
            </connector>
            <label>NACIONAL</label>
        </rules>
        <rules>
            <name>INTERNACIONAL_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gerente_Comercial_INTER</targetReference>
            </connector>
            <label>INTERNACIONAL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Detecta si es un servicio NACIONAL o INTERNACIONAL</description>
        <name>NACIONAL_INTERNACIONAL_2</name>
        <label>NACIONAL/INTERNACIONAL</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NACIONAL_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.FolioResume__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gerente_Operaciones_FN</targetReference>
            </connector>
            <label>NACIONAL</label>
        </rules>
        <rules>
            <name>INTERNACIONAL_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Import_Export_Quote__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>R</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gerente_Operaciones_INTER</targetReference>
            </connector>
            <label>INTERNACIONAL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Detecta si hubo alguna modificación en los campos involucrados en el campo &quot;Sell Net Amount&quot; ó el campo &quot;Buy Amount&quot;</description>
        <name>Sell_Net_Amount_Buy_Amount</name>
        <label>Sell Net Amount / Buy Amount</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buy_Amount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Shipment_Buy_Price__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Shipment_Buy_Price__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Vendedor</targetReference>
            </connector>
            <label>Buy Amount</label>
        </rules>
        <rules>
            <name>Sell_Net_Amount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Shipment_Sell_Price__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Shipment_Sell_Price__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Planner</targetReference>
            </connector>
            <label>Sell Net Amount</label>
        </rules>
    </decisions>
    <description>Flujo que envía notificaciones al gerente comercial y vendedor cuando hay cambios en el campo &quot;Sell Net Amount&quot;, ó al gerente de operaciones y planner cuando hay cambios en el campo &quot;Buy Amount&quot;</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula que devuelve un enlace directo al folio el cuál se modificó su venta</description>
        <name>LinkToShipment</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISNULL({!$Record.Shipment__c})), &apos;&lt;a href=\&quot;https://pak2gologistics.lightning.force.com//&apos;+{!$Record.Shipment__r.Id}+&apos;\&quot;&gt;&apos;+{!$Record.Shipment__r.Name}+&apos;&lt;/a&gt;&apos;, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Notificación cambios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SP - Notificación cambios &quot;Sell Net Amount&quot; y &quot;Buy Amount&quot;</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Consulta el usuario designado como Gerente Comercial de servicios FN. Utiliza el Custom Label &quot;GerenteComercialFN&quot;, el cual contiene el ID del usuario.</description>
        <name>Gerente_Comercial_FN</name>
        <label>Gerente Comercial FN</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailFN_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.GerenteComercialFN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta el usuario designado como Gerente Comercial de servicios INTER. Utiliza el Custom Label &quot;GerenteComercialINTER&quot;, el cual contiene el ID del usuario.</description>
        <name>Gerente_Comercial_INTER</name>
        <label>Gerente Comercial INTER</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailINTER_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.GerenteComercialINTER</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta el usuario designado como Gerente Operaciones de servicios FN. Utiliza el Custom Label &quot;GerenteOperacionesFN&quot;, el cual contiene el ID del usuario.</description>
        <name>Gerente_Operaciones_FN</name>
        <label>Gerente Operaciones FN</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailFN_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.GerenteOperacionesFN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta el usuario designado como Gerente Operaciones de servicios INTER. Utiliza el Custom Label &quot;GerenteOperacionesINTER&quot;, el cual contiene el ID del usuario.</description>
        <name>Gerente_Operaciones_INTER</name>
        <label>Gerente Operaciones INTER</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailINTER_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.GerenteOperacionesINTER</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta y trae al planner asignado en el campo Operation Executive relacionado al folio que desencadena este flujo</description>
        <name>Obtener_Planner</name>
        <label>Obtener Planner</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NACIONAL_INTERNACIONAL_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipment__r.Operation_Executive__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consulta y trae al vendedor asignado el cliente relacionado al folio que desencadena este flujo</description>
        <name>Obtener_Vendedor</name>
        <label>Obtener Vendedor</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NACIONAL_INTERNACIONAL_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shipment__r.Account_for__r.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sell_Net_Amount_Buy_Amount</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Shipment_Buy_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipment_Sell_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Shipment_Fee_Line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Template que se envía cuando se realizan cambios en el campo Buy Amount</description>
        <name>BuyAmount_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://pak2gologistics--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680R000001rHbt?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;p2g1.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Estimado Usuario.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Le informamos que en el Shipment &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!LinkToShipment}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; se ha modificado el campo de &quot;Buy Amount&quot;. Este correo es meramente informativo con el fin de tomar las medidas necesarias al respecto del cambio previamente realizado.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Template que se envía cuando se realizan cambios en el campo Sell Net Amount</description>
        <name>SellNetAmount_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://pak2gologistics--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680R000001rHcS?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;p2g1.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Estimado Usuario.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Le informamos que en el Shipment &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!LinkToShipment}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; se ha modificado el campo &quot;Sell Net Amount&quot;. Este correo es meramente informativo con el fin de tomar las medidas necesarias al respecto del cambio previamente realizado.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Contiene los emails recipientes para la notificación en FN</description>
        <name>emailAddressesFN</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contiene los emails recipientes para la notificación en INTER</description>
        <name>emailAddressesINTER</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
