force-app/main/default/flows/Update_Event_In_Progress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>StardDateTime_Igual_Hoy</name>
        <label>StardDateTime Igual Hoy</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Cuando la fecha de inicio del elvento es igual a la de hoy, el campo de Status Event se actualiza a In Progress</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>RecordDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.StartDateTime})</expression>
    </formulas>
    <interviewLabel>Update Event In Progress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Event In Progress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>In_Progress</name>
        <label>In Progress</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Status_Event__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StardDateTime_Igual_Hoy</targetReference>
        </connector>
        <object>Event</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-10</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
