force-app/main/default/flows/Visualizacion_de_Comercio_Exterior_CE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Consultar si la información que desencadena el flujo es un Import-Export ó es un Shipment</description>
        <name>Import_Export_o_Shipment</name>
        <label>¿Import-Export ó Shipment?</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Import_Export_CE_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shipment</defaultConnectorLabel>
        <rules>
            <name>Import_Export</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Import_Export_CE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shipment_CE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_folios_vinculados</targetReference>
            </connector>
            <label>Import-Export</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica que tipo de servicio es el que desencadena el flujo. Si es de Comercio Exterior, ó de otros</description>
        <name>Que_servicio_es</name>
        <label>¿Qué servicio es?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Visualizacion_de_CE_B1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros</defaultConnectorLabel>
        <rules>
            <name>Comercio_Exterior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Import_Export_CE.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visualizacion_de_CE_A1</targetReference>
            </connector>
            <label>Comercio Exterior</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica que tipo de servicio es el que desencadena el flujo. Si es de Comercio Exterior, ó de otros</description>
        <name>Que_servicio_es_2</name>
        <label>¿Qué servicio es?</label>
        <locationX>1502</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Visualizacion_de_CE_B2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otros</defaultConnectorLabel>
        <rules>
            <name>Comercio_Exterior_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Import_Export_CE_2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visualizacion_de_CE_A2</targetReference>
            </connector>
            <label>Comercio Exterior</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si el folio que desencadeno el flujo tiene o no tiene servicios vinculados. Es decir, si el campo &quot;Customer Reference Form&quot; está nulo.</description>
        <name>Tiene_folios_vinculados</name>
        <label>¿Tiene folios vinculados?</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Import_Export_Principal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Import_Export_CE.Customer_Reference_Form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sin_Folios_Vinculados</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Valida si el folio que desencadeno el flujo tiene o no tiene servicios vinculados. Es decir, si el campo &quot;Customer Reference Form&quot; está nulo.</description>
        <name>Tiene_folios_vinculados_2</name>
        <label>¿Tiene folios vinculados?</label>
        <locationX>1304</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Import_Export_Principal_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI</defaultConnectorLabel>
        <rules>
            <name>NO_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Import_Export_CE_2.Customer_Reference_Form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sin_Folios_Vinculados_2</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Flujo para evitar la aprobación de folios CE cuando los servicios vinculados están en el status correcto para la aprobación</description>
    <environments>Default</environments>
    <interviewLabel>Visualización de Comercio Exterior (CE) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visualización de Comercio Exterior (CE)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Consultar el folio de Comercio Exterior (CE)</description>
        <name>Import_Export_CE</name>
        <label>Import-Export CE</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipment_CE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorCE</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consultar el folio de Comercio Exterior (CE) del cuál se generó el Shipment de CE que desencadeno el flujo.</description>
        <name>Import_Export_CE_2</name>
        <label>Import-Export CE 2</label>
        <locationX>1304</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_folios_vinculados_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorCE_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shipment_CE.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consultar el folio de vinculado al folio de comercio exterior</description>
        <name>Import_Export_Principal</name>
        <label>Import-Export Principal</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Que_servicio_es</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorPrincipal</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Import_Export_CE.Customer_Reference_Form__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consultar el folio de vinculado al folio de comercio exterior del cual se generó el Shipment que desencadeno el flujo</description>
        <name>Import_Export_Principal_2</name>
        <label>Import-Export Principal 2</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Que_servicio_es_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorPrincipal_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Import_Export_CE_2.Customer_Reference_Form__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Consultar el Shipment de Comercio Exterior (CE)</description>
        <name>Shipment_CE</name>
        <label>Shipment CE</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Import_Export_o_Shipment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorShipmentCE</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>errorCE</name>
        <label>errorCE</label>
        <locationX>2690</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg001</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorCE_2</name>
        <label>errorCE 2</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg004</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorPrincipal</name>
        <label>errorPrincipal</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg003</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorPrincipal_2</name>
        <label>errorPrincipal 2</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg005</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorShipmentCE</name>
        <label>errorShipmentCE</label>
        <locationX>2426</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg002</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla que muestra un mensaje cuando no hay folios vinculados</description>
        <name>Sin_Folios_Vinculados</name>
        <label>Sin Folios Vinculados</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(240, 47, 47);&quot;&gt;&lt;em&gt;ESTE FOLIO NO CUENTA CON SERVICIOS VINCULADOS.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para vincular un folio dentro de otro folio, es necesario asignarlo en el campo &lt;strong style=&quot;color: rgb(240, 47, 47);&quot;&gt;&lt;em&gt;Customer Reference Form&lt;/em&gt;&lt;/strong&gt; situado en los detalles del &lt;em style=&quot;color: rgb(31, 169, 221);&quot;&gt;&lt;u&gt;Import-Export Quote/Order&lt;/u&gt;&lt;/em&gt;. De lo contrario no podrá visualizarse la información al ejecutar el botón &lt;strong&gt;Folios Vinculados&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://pak2gologistics--uat--c.documentforce.com/sfc/servlet.shepherd/version/download/0680R000001q8AT?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla que muestra un mensaje cuando no hay folios vinculados</description>
        <name>Sin_Folios_Vinculados_2</name>
        <label>Sin Folios Vinculados</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message_2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(240, 47, 47);&quot;&gt;&lt;em&gt;ESTE FOLIO NO CUENTA CON SERVICIOS VINCULADOS.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para vincular un folio dentro de otro folio, es necesario asignarlo en el campo &lt;strong style=&quot;color: rgb(240, 47, 47);&quot;&gt;&lt;em&gt;Customer Reference Form&lt;/em&gt;&lt;/strong&gt; situado en los detalles del &lt;em style=&quot;color: rgb(31, 169, 221);&quot;&gt;&lt;u&gt;Import-Export Quote/Order&lt;/u&gt;&lt;/em&gt;. De lo contrario no podrá visualizarse la información al ejecutar el botón &lt;strong&gt;Folios Vinculados&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://pak2gologistics--uat--c.documentforce.com/sfc/servlet.shepherd/version/download/0680R000001q8AT?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla que muestra la información del folio comercio exterior y servicios vinculados</description>
        <name>Visualizacion_de_CE_A1</name>
        <label>Visualización de CE</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Import_Export_Vinculados</name>
            <fieldText>Import-Export Vinculados</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Import_Export_Vinculados_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>folioPrincipal</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Import-Export Principal&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 29, 20);&quot;&gt;Import-Export Quote/Order Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Quotation Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Quotation_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 29, 20);&quot;&gt;﻿Country of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.Country_ofLoad__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 29, 20);&quot;&gt;Country of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.Country_ofDischarge__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 29, 20);&quot;&gt;State of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.State_of_Load__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 29, 20);&quot;&gt;State of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.State_of_Discharge__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 29, 20);&quot;&gt;Route:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.Route__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 29, 20);&quot;&gt;Operation Executive:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Operations_Exec__r.FirstName} {!Import_Export_Principal.Operations_Exec__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Customs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Customs__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Border:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Border__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Shipment Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Last_Shipment__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Import_Export_Vinculados_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>folioCE</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Import-Export CE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Import-Export Quote/Order Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Quotation Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Quotation_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Import-Export Quote/Order Vinculado:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Customer_Reference_Form__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Country of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Country_ofLoad__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Country of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Country_ofDischarge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;State of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.State_of_Load__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;State of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.State_of_Discharge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Route:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Route__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Operation Executive:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Operations_Exec__r.FirstName} {!Import_Export_CE.Operations_Exec__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Customs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Customs__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Border:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Border__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Shipment Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Last_Shipment__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla que muestra la información del folio comercio exterior y servicios vinculados</description>
        <name>Visualizacion_de_CE_A2</name>
        <label>Visualización de CE</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Import_Export_Vinculados_A2</name>
            <fieldText>Import-Export Vinculados</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Import_Export_Vinculados_A2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>folioPrincipal_A2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Import-Export Principal&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Import-Export Quote/Order Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Quotation Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Quotation_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;﻿Country of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Country_ofLoad__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Country of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Country_ofDischarge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;State of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.State_of_Load__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;State of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.State_of_Discharge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Route:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Route__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Operation Executive:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Operations_Exec__r.FirstName} &lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Operations_Exec__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Customs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Customs__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Border:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Border__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Shipment Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Last_Shipment__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Import_Export_Vinculados_A2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>folioCE_A2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Import-Export CE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(21, 139, 186);&quot;&gt;Import-Export Quote/Order Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Quotation Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Quotation_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(21, 139, 186);&quot;&gt;Import-Export Quote/Order Vinculado:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Customer_Reference_Form__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(21, 139, 186);&quot;&gt;Country of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Country_ofLoad__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(21, 139, 186);&quot;&gt;Country of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Country_ofDischarge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(21, 139, 186);&quot;&gt;State of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.State_of_Load__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(21, 139, 186);&quot;&gt;State of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.State_of_Discharge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(21, 139, 186);&quot;&gt;Route:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Route__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(21, 139, 186);&quot;&gt;Operation Executive:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Operations_Exec__r.FirstName}  {!Import_Export_CE_2.Operations_Exec__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Customs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Customs__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Border:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Border__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Shipment Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Last_Shipment__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla que muestra la información del folio comercio exterior y servicios vinculados</description>
        <name>Visualizacion_de_CE_B1</name>
        <label>Visualización de CE</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Import_Export_Vinculados_B1</name>
            <fieldText>Import-Export Vinculados</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Import_Export_Vinculados_B1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>folioPrincipal_B1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Import-Export Principal&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Import-Export Quote/Order Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Quotation Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Quotation_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Country of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Country_ofLoad__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Country of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Country_ofDischarge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;State of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.State_of_Load__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;State of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.State_of_Discharge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Route:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Route__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Operation Executive:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Operations_Exec__r.FirstName} {!Import_Export_CE.Operations_Exec__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Customs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Customs__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Border:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Border__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Shipment Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE.Last_Shipment__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Import_Export_Vinculados_B1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>folioCE_B1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Import-Export CE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Import-Export Quote/Order Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Quotation Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Quotation_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 29, 20);&quot;&gt;Import-Export Quote/Order Vinculado:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Customer_Reference_Form__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;﻿Country of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.Country_ofLoad__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Country of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.Country_ofDischarge__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;State of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.State_of_Load__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;State of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.State_of_Discharge__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Route:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Import_Export_Principal.Route__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Operation Executive:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Operations_Exec__r.FirstName} {!Import_Export_Principal.Operations_Exec__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Customs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Customs__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Border:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Border__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Shipment Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal.Last_Shipment__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla que muestra la información del folio comercio exterior y servicios vinculados</description>
        <name>Visualizacion_de_CE_B2</name>
        <label>Visualización de CE</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Import_Export_Vinculados_B2</name>
            <fieldText>Import-Export Vinculados</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Import_Export_Vinculados_B2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>folioPrincipal_B2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Import-Export Principal&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Import-Export Quote/Order Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Quotation Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Quotation_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Country of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Country_ofLoad__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Country of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Country_ofDischarge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;State of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.State_of_Load__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;State of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.State_of_Discharge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Route:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Route__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186); font-size: 14px;&quot;&gt;Operation Executive:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Operations_Exec__r.FirstName}  {!Import_Export_CE_2.Operations_Exec__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Customs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Customs__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Border:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Border__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(21, 139, 186);&quot;&gt;Shipment Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_CE_2.Last_Shipment__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Import_Export_Vinculados_B2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>folioCE_B2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Import-Export CE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Import-Export Quote/Order Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Quotation Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Quotation_Status__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); background-color: rgb(255, 255, 255);&quot;&gt;Import-Export Quote/Order Vinculado:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Customer_Reference_Form__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;﻿Country of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Country_ofLoad__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Country of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Country_ofDischarge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;State of Load:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.State_of_Load__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;State of Discharge:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.State_of_Discharge__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Route:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Route__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20); font-size: 14px;&quot;&gt;Operation Executive:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Operations_Exec__r.FirstName}&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Operations_Exec__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Customs:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Customs__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Border:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Border__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 29, 20);&quot;&gt;Shipment Number:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Import_Export_Principal_2.Last_Shipment__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Import_Export_CE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ID del registro que desencadena el flujo</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
